@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Auckland School</h1>
    
</div>

<div>
    <p>
        @Html.IconLinkController("Subjects", "SubjectList", "Subject", null, "glyphicon glyphicon-tasks", new { @class = "btn btn-default btn-lg" })
        @Html.IconLinkController("Teachers", "TeacherList", "Teacher", null, "glyphicon glyphicon-user", new { @class = "btn btn-default btn-lg" })
        @Html.IconLinkController("Students", "StudentList", "Student", null, "glyphicon glyphicon-eye-open", new { @class = "btn btn-default btn-lg" })
        @Html.IconLinkController("Classes", "ClassList", "Class", null, "glyphicon glyphicon-calendar", new { @class = "btn btn-default btn-lg" })
    </p>
</div>
