@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Auckland School</h1>
    
</div>

<div>
    <p>
        @Html.ActionLink("Subjects", "SubjectList", "Management", null, new { @class = "btn btn-default" })
        @Html.ActionLink("Teachers", "TeacherList", "Management",null, new { @class = "btn btn-default" })
        @Html.ActionLink("Students", "StudentList", "Management", null, new { @class = "btn btn-default" })
        @Html.ActionLink("Classes", "ClassList", "Management", null, new { @class = "btn btn-default" })
    </p>
</div>
