@{
    ViewBag.Title = "Payment";
}

<!--validation msg -->

<div ng-controller="PaymentCtrl" ng-cloak>
    @Html.AntiForgeryToken()

    <!--ViewBag used to display error message on invalid access to GetExpressCheckoutDetails OR CreateBillingAgreement actions-->
    <div ng-show="data.showError || dataP.showError || @Json.Encode(ViewBag.Error == null ? false : ViewBag.Error)" id="serverError-msg">
        <h4>Error: {{data.msg}}{{dataP.msg}}@ViewBag.MsgText</h4>
        <ul>
            <li data-ng-repeat="error in serverErrors">{{error}}</li>
        </ul>
    </div>


    <div class="row cvvpop">
        <div class="panel panel-default col-sm-10 col-sm-push-1 col-md-6 col-md-push-3 col-lg-6 col-lg-push-3 pay-panel">
            <div class="pay-list-msg">
                <ul>
                    <li>You pay <strong>$0.00</strong> right now for registration.</li>
                    <li>You'll be charged as you use the service.</li>
                </ul>
            </div>
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#creditCard" class="pay-tab1 pay-tab-colour" data-toggle="tab">Credit/Debit Card</a>
                </li>
                <li>
                    <a href="#payPal" class="pay-tab-colour" data-toggle="tab"><img src="~/Content/Images/Payment/PP_logo.png" alt="Pay with PayPal account" /></a>
                </li>
            </ul>
            <div class="tab-content clearfix pay-tab-content">
                <div class="tab-pane active" id="creditCard">
                    <form class="form" name="cCForm" novalidate angular-validator angular-validator-submit='payByCard()'>
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="First Name" aria-label="First Name" ng-model="data.userData.CreditCard.FirstName" required name="First_Name" autocomplete="off" required-message="First Name is required.">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Last Name" aria-label="Last Name" ng-model="data.userData.CreditCard.LastName" required name="Last_Name" autocomplete="off">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control pay-card-input" placeholder="Card Number" aria-label="Card Number" ng-model="data.userData.CreditCard.CardNumber" allow-numbers="{{cardMaxLength}}" ng-change="checkCard()" ng-trim="false" required name="Card_Number" autocomplete="off">
                                <span class="input-group-addon pay-card-input-addon">
                                    <img src="~/Content/Images/Payment/Visa_Logo.png" role="img" ng-hide="data.userData.CreditCard.CardType === 'AMEX' || data.userData.CreditCard.CardType === 'MASTERCARD' || data.userData.CreditCard.CardType === 'DISCOVER'" />
                                    <img src="~/Content/Images/Payment/MasterCard_logo.png" role="img" ng-hide="data.userData.CreditCard.CardType === 'AMEX' || data.userData.CreditCard.CardType === 'VISA' || data.userData.CreditCard.CardType === 'DISCOVER'" />
                                    <img src="~/Content/Images/Payment/American_Express_logo.png" role="img" ng-hide="data.userData.CreditCard.CardType === 'VISA' || data.userData.CreditCard.CardType === 'MASTERCARD' || data.userData.CreditCard.CardType === 'DISCOVER'" />
                                    <img src="~/Content/Images/Payment/discover_logo.png" role="img" ng-hide="data.userData.CreditCard.CardType === 'AMEX' || data.userData.CreditCard.CardType === 'MASTERCARD' || data.userData.CreditCard.CardType === 'VISA'" />
                                </span>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="MM" aria-label="Month" ng-model="month" allow-numbers="2" ng-change="checkDate()" ng-trim="false" required name="Month" autocomplete="off">

                                    <div ng-show="invalidMonth">Expiry Month must be between 1 and 12!</div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="YY" aria-label="Year" ng-model="year" allow-numbers="2" ng-change="checkDate()" ng-trim="false" required name="Year" autocomplete="off">

                                    <div ng-show="invalidYear">Please enter the correct year.</div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group has-feedback">
                                    <input type="text" class="form-control" placeholder="CVV" aria-label="Security Code CVV" ng-model="data.userData.CreditCard.CVV2" allow-numbers="{{cardCVVLength}}" required name="CVV" ng-minlength="cvvMinLength" ng-maxlength="cvvMaxLength" autocomplete="off">
                                    <i class="glyphicon glyphicon-question-sign form-control-feedback pay-cvv-tooltip" cvv-tooltip></i>
                                </div>
                            </div>

                            <div ng-show="invalidDate">Please enter a valid date.</div>
                        </div>
                        <div>
                            <p class="pay-disclaimer">
                                <small>
                                    By clicking "Start Membership", you confirm your agreement with the
                                    <a href="#">Terms</a> and <a href="#">Privacy Policy</a>.
                                    You'll be charged as you use the service. To avoid service
                                    interruptions, we'll store your payment method and update it on expiration.
                                </small>
                            </p>
                        </div>
                        <button type="button" class="btn btn-info btn-block" ng-click="payByCard()" ng-disabled="disableButton || cCForm.$invalid">Start Membership</button>
                    </form>
                </div>
                <div class="tab-pane" id="payPal">
                    <br />
                    <div>
                        <p>
                            <strong>Connect to PayPal.</strong>
                            (You won't be charged right now.)
                        </p>
                        <p class="pay-disclaimer">
                            <small>
                                By clicking "Continue To Paypal", you agree that your payment
                                method provided above will be charged as you use the service.
                            </small>
                        </p>
                    </div>
                    <button class="btn btn-info btn-block" ng-click="payByPayPal()">Continue to PayPal</button>
                </div>
            </div>
        </div>
    </div>
</div>




@section scripts{
    <script src="~/App/controllers/Payment/PaymentCtrl.js"></script>
    <script src="~/App/directives/Payment/allow-numbers.js"></script>
    <script src="~/App/directives/Payment/cvv-tooltip.js"></script>
}

