.bar-label {
    font-size:13px; 
    color:gray; 
    font-family:"Source Sans Pro",sans-serif;
    font-weight: 400;
    display:inline-block;
    width:80px;
    text-align:right;
    padding-right:9px
}

.bar-title {
    line-height:20px;
    font-family:Arial, Helvetica, sans-serif;
    display:inline-block; 
    width:calc(100% - 100px)
}

.bar-bg-style {
    background-color:#e6e9ed;
    border-radius:100px;
}

.bar-ft-style {
    background-color:#0ea800; 
    border-radius:100px; 
}

.bar-number {
    color:white; 
    padding-left:10px; 
    font-size:14px; 
    vertical-align: middle;
}
