@{
    Layout = null;
}

<!-- Detail Modal -->

<div class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h4 class="modal-title">Detail: ID {{order.OrderId}} Product ID: {{test}}</h4>
</div>
<div class="modal-body">

<div class="form-horizontal">
    <dl class="dl-horizontal">
        <dt>
            Order Date
        </dt>

        <dd>
            {{order.OrderDate | date:'dd/MM/yyyy'}}
        </dd>

        <dt>
            Customer Name
        </dt>

        <dd>
            {{order.PersonName}}
        </dd>

        <dt>
            Product List
        </dt>

        <dd>
            <div ng-repeat="x in productDetails">
                {{x.ProductName}}&nbsp;&nbsp;
                <button ng-click="removeProduct(x.OrderDetailId)" type="button" class="btn btn-default btn-sm">Remove</button>
            </div>
            <br />
            <button ng-click="addProduct()" type="button" class="btn btn-default btn-sm">Add Product</button>
        </dd> 

    </dl>

    <div class="modal-footer">
        <div class="col-md-offset-2 col-md-10">
            <button ng-click="deletePost()" type="button" class="btn btn-default">Delete</button>
            <button ng-click="close()" type="button" class="btn btn-default">Close</button>
        </div>
    </div>
</div>
</div>

