@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Order List</h2>

<p>
    <button type="button" class="btn btn-default" ng-click="createOrder()">Create New</button>
</p>
<div>
    <table class="table" >
        <tr>
            <th>
                Order ID
            </th>
            <th>
                Order Date
            </th>
            <th>
                Person Name
            </th>
            <th>
                
            </th>
        </tr>

        <tr ng-repeat="x in list">
            <td>
                {{x.OrderId}}
            </td>
            <td>
                {{x.OrderDate | date:'dd/MM/yyyy'}}
            </td>
            <td>
                {{x.PersonName}}
            </td>
            <td>
                <button type="button" class="btn btn-default" ng-click="editOrder(x)">Edit</button>
                <button type="button" class="btn btn-default" ng-click="detailOrder(x)">Details</button>
                <button type="button" class="btn btn-default" ng-click="deletePost(x)">Delete</button>
            </td>
        </tr>

    </table>
</div>

<!-- Modal Template-->
<div id="templateModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{modalTpl.modalTitle}}</h4>
            </div>
            <div ng-view></div>
        </div>

    </div>
</div>