@* Tom changed to non ngMaterial with client side validate on ngCore combine with fontAwesome and Bootstrap plus a Modal *@

<div ng-controller="account/ForgetPasswordCtrl" ng-cloak>
    @*Modal*@
    <div ng-init="data.showServerErrorMsg=false">
        <div class="modal fade in" aria-hidden="false" style="display: block;" ng-show="data.showServerErrorMsg" id="serverError-msg">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" ng-click="data.showServerErrorMsg=false">&times;</button>
                        <h4 class="modal-title">Error</h4>
                    </div>
                    <div class="modal-body">
                        <h4>Oops! There were some errors!</h4>
                        <ul>
                            <li data-ng-repeat="error in serverErrors">{{error}}</li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-click="data.showServerErrorMsg=false">Close</button>
                    </div>
                </div>
            </div>
        </div>
        @*Form*@
        <div class="row">
            <div class="col-md-8">              

                <div class="contact-sec" style="margin-left: 10%">
                    @*server handler*@
                    <div ng-show="data.showConfirmationMsg" id="confirmation-msg">
                        <p>
                            We just mailed the password reset link to <strong>{{data.userData.email | uppercase}}</strong><br />
                            Entered wrong email? Click <a href={{hereLink}}>here</a> to go back.
                        </p>
                    </div>
                    @*Vaildate form*@
                    <div class="row">
                        <div class="col-md-10">
                            <form ng-class="{true:'error'}[summitted || userDataForm.Email.$invalid]" novalidate layout-padding ng-hide="data.hideForm" name="userDataForm" id="userData-form" class="form-horizontal"
                                  ng-submit="postData(userDataForm.$valid)">
                                @Html.AntiForgeryToken()
                                <h2>Forgot Password?</h2>
                                <h5>Enter your email here to get a password reset link.</h5>
                                <div class="input-group"
                                     ng-class="{
             'has-error' : !userDataForm.Email.$valid && (!userDataForm.$pristine || userDataForm.$submitted) ,
             'has-success': userDataForm.Email.$valid && (!userDataForm.$pristine || userDataForm.$submitted)}">
                                    <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                                    <input class="form-control" id="emailForgot" ng-model="data.userData.email" ng-model-options="{debounce : 750}"
                                           required="required" name="Email" placeholder="Enter email" autocomplete="off" type="email" />
                                </div>
                                <p class="help-block" ng-show="userDataForm.Email.$error.required && (!userDataForm.$pristine || userDataForm.$submitted)">
                                    <i class="fa fa-exclamation-circle text-warning"> This feild is required</i>
                                </p>
                                <p class="help-block" ng-show="userDataForm.Email.$error.email && (!userDataForm.$pristine || userDataForm.$submitted)">
                                    <i class="fa fa-exclamation-triangle text-danger"> Please enter your email. Example: abc@@company.com</i>
                                </p>

                                <div class="btn-group" style="margin-top: 10px">
                                    <input class="form-control btn btn-success" type="submit" id="btn-userData" value="Continue" />
                                </div>
                                <p>
                                    <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#createEdit" ng-click="showModal()">
                                        Test
                                    </button>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <c-modal></c-modal>

</div>

@section scripts{
    <script type="text/javascript" src="~/App/controllers/account/ForgetPasswordCtrl.js"></script>

}


