<div flex="50">
    <md-dialog aria-label="list dialog">

        <md-dialog-content>
            <div layout="row">

                <md-input-container>
                    <label>First name</label>
                    <input type="text" ng-model="newFirstname">
                </md-input-container>


                <md-input-container>
                    <label>Middle name </label>
                    <input type="text" ng-model="newMiddlename">
                </md-input-container>


                <md-input-container>
                    <label>Last name </label>
                    <input type="text" ng-model="newLastName">
                </md-input-container>

            </div>
            <div layout='column'>
                <md-input-container>
                    <label>Relationship</label>
                    <md-select ng-model="aRelationship">
                        <md-option ng-repeat="aRelationship in relationshipList" value="{{aRelationship}}"></md-option>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <label>Emergency Event(s)</label>
                    <md-select ng-model="selectedEmergencyEvent" multiple>
                        <md-optgroup label="Events">
                            <md-option ng-value="event" ng-repeat="event in emergencyEvents">
                                {{event}}
                            </md-option>
                        </md-optgroup>
                    </md-select>
                </md-input-container>
            </div>


            <md-dialog-actions>
                <md-button ng-click="cancel($event)">CANCEL</md-button>
                <md-button ng-click="create($event)">OK</md-button>
            </md-dialog-actions>
        </md-dialog-content>
    </md-dialog>
</div>
