
<!-- Create/Edit Customer Modal -->

<div ng-show="modalTpl.modalId==='createEditCustomer'">
    <form angular-validator-submit="dataPostCustomer(createEditCustomerForm)" name="createEditCustomerForm" novalidate angular-validator>
        <div class="modal-body">
            <div class="form-horizontal">
                <span ng-show="serverValErr" style="color:red; font-style:oblique">Server Validation Error.</span>

                <div class="form-group">
                    <label class="control-label col-md-3">Name</label>
                    <div class="col-md-9">
                        <input name="Name" class="form-control" ng-model="c.Name" validate-on="dirty" ng-pattern="/^[a-zA-Z]*$/" validator="c.Name.length >= 2"
                               invalid-message="'At least two letters are required. No digits.'" required-message="'Name is required.'" required />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3">Address1</label>
                    <div class="col-md-9">
                        <input name="Address1" class="form-control" ng-model="c.Address1" validate-on="dirty" validator="c.Address1.length >= 4"
                               invalid-message="'At least Four characters are required.'" required-message="'Address1 is required.'" required />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3">Address2</label>
                    <div class="col-md-9">
                        <input name="Address2" class="form-control" ng-model="c.Address2" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3">Town/City</label>
                    <div class="col-md-9">
                        <input name="Town_City" class="form-control" ng-model="c.Town_City" validate-on="dirty" required-message="'Town/City is required.'" required />
                    </div>
                </div>

            </div>

        </div>
        <div class="modal-footer">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" ng-click="close(createEditCustomerForm)" class="btn btn-default">Close</button>
            </div>
        </div>
    </form>
</div>


<!-- Customer Order List Modal -->

<div ng-show="modalTpl.modalId==='customerOrderDetail'" class="container body-content">
    <br />
    <p>
        <button type="button" class="btn btn-primary" ng-click="createOrder()">Create New</button>
    </p>
    <div>
        <table class="table">
            <tr>
                <th>
                    Order ID
                </th>
                <th>
                    Order Date
                </th>
                <th>

                </th>
            </tr>

            <tr ng-repeat="x in orderList">
                <td>
                    {{x.OrderId}}
                </td>
                <td>
                    {{x.OrderDate | date:'dd/MM/yyyy'}}
                </td>
                <td>
                    <button type="button" class="btn btn-default" ng-click="editOrder(x)">Edit</button>
                    <button type="button" class="btn btn-default" ng-click="detailOrder(x)">Details</button>
                    <button type="button" class="btn btn-default" ng-click="deletePost(x)">Delete</button>
                </td>
            </tr>

        </table>
    </div>

    <!-- Modal Template-->
    <div id="templateModal" class="modal fade" role="dialog">

        <div class="modal-dialog" style="width:600px">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{modalTplIn.modalTitle}}</h4>
                </div>
                <div ng-include="'/App/OrderModalContent'"></div>
            </div>


        </div>
    </div>

    <div class="modal-footer">
        <div class="col-md-offset-2 col-md-10">
            <button ng-click="editCustomer(c)" type="button" class="btn btn-default">{{modalTpl.buttonName}}</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>






