
<!-- Create/Edit Modal -->

<div ng-show="modalTplIn.modalId==='createEdit'">
    <div class="modal-body">
        <div class="form-horizontal">
            <span ng-show="serverValErr" style="color:red; font-style:oblique">Server Validation Error.</span>
            <form name="createEditForm">
                <div class="form-group">
                    <label class="control-label col-md-3">Order Date</label>
                    <div class="col-md-9">
                        <input name="orderDate" type="date" class="form-control" ng-model="o.OrderDate" required />
                        <span ng-show="createEditForm.orderDate.$touched && createEditForm.orderDate.$invalid" style="color:red; font-style:oblique">The date is required.</span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <div class="col-md-offset-2 col-md-10">
            <button ng-click="dataPostOrder(createEditForm)" type="button" class="btn btn-default">{{modalTplIn.buttonName}}</button>
            <button ng-click="closeIn()" type="button" class="btn btn-default">Close</button>
        </div>
    </div>
</div>



<!-- Detail Modal -->

<div ng-show="modalTplIn.modalId==='detail'">
    <div class="modal-body">

        <div class="form-horizontal">
            <span ng-show="serverValErr" style="color:red; font-style:oblique">Server Validation Error.</span>
            <div class="form-group">
                <label class="control-label col-md-4">Order Date</label>
                <p class="control-label col-md-3">{{o.OrderDate | date:'dd/MM/yyyy'}}</p>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4" for="ProductList">Product List</label>
                <div class="col-md-8">
                    <div ng-repeat="x in orderDetails">
                        <p class="control-label col-md-4">{{x.ProductName}}</p>
                        <button ng-click="removeProduct(x.OrderDetailId)" type="button" class="btn btn-default btn-sm">Remove</button>
                        <br />
                    </div>
                </div>
            </div>

            <button ng-click="addProduct()" type="button" class="btn btn-default btn-sm">{{addButtonName}}</button>
        </div>
        <!-- Add Product Modal -->

        <div ng-show="modalTplIn.modalIdDetailAdd==='detailAdd'">
            <div class="modal-header">
                <h4 class="modal-title">Add Product</h4>
            </div>

            <div class="modal-body">
                <form name="addForm">
                    <div class="form-group">
                        <label class="control-label col-md-3" for="PersonId">Product Name</label>
                        <div class="col-md-9">
                            <select name="selectedProductId" ng-model="SeletedProductId" class="form-control" style="display:inline-block" required>
                                <option ng-repeat="p in productList" value="{{p.ProductId}}" ng-selected="1">{{p.ProductName}}</option>
                            </select>
                            &nbsp;
                            <button ng-click="addProductFromList(SeletedProductId, addForm)" type="button" class="btn btn-default">Add</button>
                            <br />
                            <span ng-show="addForm.selectedProductId.$touched && addForm.selectedProductId.$invalid" style="color:red; font-style:oblique">The product is required.</span>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <div class="modal-footer">
        <div class="col-md-offset-2 col-md-10">
            <button ng-click="deletePostInDetail()" type="button" class="btn btn-default">Delete</button>
            <button ng-click="closeIn()" type="button" class="btn btn-default">Close</button>
        </div>
    </div>
</div>