<!--helen-->
<!--Lavesh - All Sorting / Filtering / Editing Functionality-->
<!--craig finishing filting-->
@{
    ViewBag.Title = "User Management";
}


<div>
    <div>
        <table width="100%">
            <tr>
                <td>
                    <div>
                        <center><h4>User Management</h4></center>
                    </div>
                </td>
                
            </tr>
        </table>
    </div>
    <form>
        <div ng-controller="admin/UserManagementCtrl">

            <table class="table" style="width:100%;">
                <tr class="row-header">
                    <th>
                        <a href="#" ng-click="sort.field='Username'; sort.reverseSort = !sort.reverseSort; PageSelected(1,search,sort)" title="Click to sort by">
                            Username <span ng-show="sort.field == 'Username'"><span ng-show="!sort.reverseSort">^</span><span ng-show="sort.reverseSort">v</span></span>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="sort.field='Email'; sort.reverseSort = !sort.reverseSort; PageSelected(1,search,sort)" title="Click to sort by">
                            Email <span ng-show="sort.field == 'Email'"><span ng-show="!sort.reverseSort">^</span><span ng-show="sort.reverseSort">v</span></span>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="sort.field='PhoneNumber'; sort.reverseSort = !sort.reverseSort; PageSelected(1,search,sort)" title="Click to sort by">
                            Phone <span ng-show="sort.field == 'PhoneNumber'"><span ng-show="!sort.reverseSort">^</span><span ng-show="sort.reverseSort">v</span></span>
                        </a>
                    </th>
                    <th style="text-align:center">
                        <a href="#" ng-click="sort.field='AccessFailedCount'; sort.reverseSort = !sort.reverseSort; PageSelected(1,search,sort)" title="Click to sort by">
                            AccessFailedCount <span ng-show="sort.field == 'AccessFailedCount'"><span ng-show="!sort.reverseSort">^</span><span ng-show="sort.reverseSort">v</span></span>
                        </a>
                    </th>
                    <th style="text-align:center">
                        <a href="#" ng-click="sort.field='EmailConfirmed'; sort.reverseSort = !sort.reverseSort; PageSelected(1,search,sort)" title="Click to sort by">
                            EmailConfirmed <span ng-show="orderByField == 'EmailConfirmed'"><span ng-show="!sort.reverseSort">^</span><span ng-show="sort.reverseSort">v</span></span>
                        </a>
                    </th>
                    <th style="text-align:center">
                        <a href="#" ng-click="sort.field='PhoneNumberConfirmed'; sort.reverseSort = !sort.reverseSort; PageSelected(1,search,sort)" title="Click to sort by">
                            PhoneConfirmed <span ng-show="sort.field == 'PhoneNumberConfirmed'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
                        </a>
                    </th>
                    <th style="text-align:center">
                        <a href="#" ng-click="sort.field='LockoutEnabled'; sort.reverseSort = !sort.reverseSort; PageSelected(1,search,sort)" title="Click to sort by">
                            LockoutEnabled <span ng-show="sort.field == 'LockoutEnabled'"><span ng-show="!sort.reverseSort">^</span><span ng-show="sort.reverseSort">v</span></span>
                        </a>

                    </th>
                    <th style="text-align:center">
                        <a href="#" ng-click="sort.field='IsActive'; sort.reverseSort = !sort.reverseSort; PageSelected(1,search,sort)" title="Click to sort by">
                            IsActive <span ng-show="sort.field == 'IsActive'"><span ng-show="!sort.reverseSort">^</span><span ng-show="sort.reverseSort">v</span></span>
                        </a>
                    </th>
                    <th style="text-align:center;width:110px">

                    </th>
                </tr>
                <tr class="row-header">
                    <th colspan="2">

                        <input type="text" class="form-control" placeholder="Search ALL fields for ..." ng-model="search.$">

                    </th>
                    <th colspan="1">
                        <span class="input-group-btn">
                            <button class="btn btn-danger" type="button" ng-click="search.$ = undefined; PageSelected(1,search,sort)  " title="Clear TextBox">X</button>
                        </span>
                    </th>
                    <th>
                        <label> Exact Match <input type="checkbox" ng-model="search.ExactMatch" title="Serach by exact text in TextBox"></label>
                    </th>

                    <th style="text-align:center">
                        <select class="form-control" id="EmailConfirmed" ng-model="search.EmailConfirmed" style="width:110px">
                            <option value="{{undefined}}">Show All</option>
                            <option value="{{true}}">Yes</option>
                            <option value="{{false}}">No</option>
                        </select>
                    </th>
                    <th style="text-align:center">

                        <select class="form-control" id="PhoneConfirmed" ng-model="search.PhoneNumberConfirmed" style="width:110px">
                            <option value="{{undefined}}">Show All</option>
                            <option value="{{true}}">Yes</option>
                            <option value="{{false}}">No</option>
                        </select>

                    </th>
                    <th style="text-align:center">

                        <select class="form-control" id="LockoutEnabled" ng-model="search.LockoutEnabled" style="width:110px">
                            <option value="{{undefined}}">Show All</option>
                            <option value="{{true}}">Yes</option>
                            <option value="{{false}}">No</option>
                        </select>

                    </th>
                    <th style="text-align:center">

                        <select class="form-control" id="IsActive" ng-model="search.IsActive" style="width:110px">
                            <option value="{{undefined}}">Show All</option>
                            <option value="{{true}}">Yes</option>
                            <option value="{{false}}">No</option>
                        </select>

                    </th>
                    <th>

                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button" ng-click="PageSelected(1,search)" title="Search Database with selected filters">Search</button>
                        </span>
                    </th>
                </tr>
                <!-- Craig added filter to ng-repeat and controlled by $scope.UserFilter -->
                <tr ng-repeat="user in users">
                    <td ng-model="user.UserName">{{user.UserName}}</td>
                    <td>{{user.Email}}</td>
                    <td>{{user.PhoneNumber}}</td>
                    <td align="center">{{user.AccessFailedCount}}</td>
                    <td ng-dblclick="ToggleEmailConfirmed(user)" Title="Double-Click to Toggle" align="center">{{user.EmailConfirmed == true ? "Yes" : "No"}}</td>
                    <td ng-dblclick="TogglePhoneNumberConfirmed(user)" Title="Double-Click to Toggle" align="center">{{user.PhoneNumberConfirmed == true ? "Yes" : "No"}}</td>
                    <td ng-dblclick="ToggleLockout(user)" Title="Double-Click to Toggle" align="center">{{user.LockoutEnabled == true ? "Yes" : "No"}}</td>
                    <td ng-dblclick="ToggleActive(user)" Title="Double-Click to Toggle" align="center">{{user.IsActive == true ? 'Yes' : 'No'}}</td>
                    <td align="center"><input type="button" class="btn btn-danger" value="{{user.IsActive == true ? 'Deactivate' : 'Activate'}}" ng-click="ToggleActive(user)" /></td>
                </tr>
            </table>
            <div class="text-center" style="padding-bottom: 5%; padding-top: 1%">
                <ul class="pagination">
                    <li ng-if="previous"> <a href="#" ng-click="PageSelected(pbutton = prePage)">Previous</a></li>
                    <li ng-if="dotsPre">
                        <a href="#" ng-click="PageSelected(pbuton = 1)">First page : {{startPage}}</a>
                        <span ng-if="dotsPre" class="introjs-disabled">....</span>
                    </li>
                    <li ng-repeat="pbutton in pages">
                        <a href="#" ng-click="PageSelected(pbutton,search)">{{pbutton}}</a>
                    </li>
                    <li ng-if="dotsAft">
                        <span class="introjs-disabled">....</span>
                        <a href="#" ng-click="PageSelected(maxPages)">Last Page : {{maxPages}}</a>
                    </li>
                    <li ng-if="next">
                        <a href="#" ng-click="PageSelected(pbutton = nextPage)">Next</a>
                    </li>
                </ul>
            </div>
            @*<button ng-click="PopulateDB()">populate DB</button>*@
        </div>
    </form>
</div>
@section scripts{


    <script src="~/App/controllers/admin/UserManagementCtrl.js"></script>



}
