@model Cobra.Models.Account.LoginViewModel
@using Microsoft.Owin.Security
@{
    ViewBag.Title = "Login";
}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<div layout="row" layout-align="center center" ng-controller="account/LoginCtrl" ng-cloak="">
    <div flex-gt-sm="45" flex="100">
        <md-card class="content" style="height: 65vh;">
            <md-toolbar>
                <div class="md-toolbar-tools" layout="row" layout-align="center center">
                    <h2>Login</h2>
                </div>
            </md-toolbar>
            <div layout="row" layout-xs="column" class="m-padding">
                <md-progress-linear ng-if="loading" md-mode='indeterminate'></md-progress-linear>
            </div>
            <form autocomplete="off" lang="column" name="loginForm" class="md-padding">
                <div flex>
                    <md-input-container class="md-block">
                        <label>Email</label>
                        <input required="" type="text" name="username" ng-model="user.username">
                        <div ng-messages="loginForm.username.$error" role="alert">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                </div>
                <div flex>
                    <md-input-container class="md-block">
                        <label>Password</label>
                        <input required="" type="password" name="password" ng-model="user.password">
                        <div ng-messages="loginForm.password.$error" role="alert">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                </div>
                <div flex>
                    <md-checkbox ng-model="user.rememberMe" class="blue">
                        Remember me for next 30 days
                    </md-checkbox>
                </div>
                <div class="g-recaptcha" data-sitekey="6LfLvyQTAAAAADN9xT-vAZTRN6wn4aA6pWZIg9e7"></div>

                <div flex="100">
                    <div layout="column">
                        <md-button class="md-raised md-primary" ng-disabled="loginForm.$invalid" ng-click="login(user)">Sign In</md-button>
                    </div>
                </div>
            </form>
            <!--sign up or forget password-->
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-click="signup()">Sign up</md-button>
                <md-button ng-click="reset()" style="margin-right:20px;" class="md-raised md-warn">Forget password</md-button>
            </md-card-actions>
        </md-card>
    </div>
    <div class="col-md-4">
        <section>
            <h4>Use another service to log in.</h4>
            <hr />
            @{Html.RenderAction("ExternalLogin");}
        </section>
    </div>
</div>


@section styles {
    <style type="text/css">
        label:not(.md-no-float):not(._md-container-ignore) {
            font-style: italic;
        }
    </style>
}

@section scripts {
    <script src="~/App/controllers/account/LoginCtrl.js"></script>
    
}


