
<div ng-controller="account/ResetPasswordCtrl" layout="column" layout-padding ng-cloak
     class="col-xs-offset-2 col-xs-10 col-sm-offset-2 col-sm-10 col-md-offset-3 col-md-9 col-lg-offset-3 col-lg-9">

    <div ng-show="data.showConfirmationMsg" id="confirmation-msg">
        <p>
            Password for <strong>{{data.userData.email | uppercase}}</strong> has been reset.<br />
            Entered wrong email? Click <a href={{hereLink}}>here</a> to go back.
        </p>
    </div>

    <md-content class="autoScroll col-xs-9 col-sm-8 col-md-7 col-lg-6">
        <form ng-hide="data.hideForm" name="resetPasswordForm" id="register-form">
            @Html.AntiForgeryToken()
            <h2>Reset Password</h2>

            <div ng-show="data.showServerErrorMsg" id="serverError-msg">
                <h4>Oops! There were some errors!</h4>
                <ul>
                    <li data-ng-repeat="error in serverErrors">{{error}}</li>
                </ul>
            </div>

            <h5>Enter your details here to reset password.</h5>

            <md-input-container class="md-icon-float md-block">
                <md-icon>email</md-icon>
                <input ng-model="data.userData.email" ng-model-options="{debounce : 750}"
                       required type="email" name="Email" placeholder="Email address" autocomplete="off" />
                <div ng-messages="resetPasswordForm.Email.$error" multiple md-auto-hide="false">
                    <div ng-message="required" ng-show="resetPasswordForm.Email.$touched">Please enter your email address.</div>
                    <div ng-message="email" ng-show="resetPasswordForm.Email.$dirty">Please enter a valid email address.</div>
                </div>
            </md-input-container>

            <md-input-container class="md-icon-float md-block">
                <md-icon>lock</md-icon>
                <input ng-model="data.userData.password" check-password
                       ng-model-options="{debounce : 750}"
                       required type="password" name="Password" placeholder="Password"
                       ng-minlength="8" ng-maxlength="20" />
                <div ng-messages="resetPasswordForm.Password.$error" multiple md-auto-hide="false">
                    <div ng-message="required" ng-show="resetPasswordForm.Password.$touched">A password is required.</div>
                    <div ng-message="minlength">Password must be at least 8 characters long.</div>
                    <div ng-message="maxlength">Maximum length allowed is 20 characters.</div>
                    <div ng-message="checkPasswordWhiteSpace">Please don't add any space(s) in the password.</div>
                    <div ng-message="checkPasswordUpperCase">Password must have at least one upper case letter.</div>
                    <div ng-message="checkPasswordLowerCase">Password must have at least one lower case letter.</div>
                    <div ng-message="checkPasswordSymbol">Password must have at least one non-alphanumeric symbol.</div>
                    <div ng-message="checkPasswordDigit">Password must have at least one number.</div>
                    <div ng-message="matchResult">Passwords don't match</div>
                </div>
            </md-input-container>

            <md-input-container class="md-icon-float md-block">
                <md-icon>lock</md-icon>
                <input ng-model="data.userData.confirmPassword" match-password="data.userData.password"
                       required type="password" name="ConfirmPassword" placeholder="Confirm Password"
                       minlength="8" maxlength="20" />
                <div ng-messages="resetPasswordForm.ConfirmPassword.$error" multiple md-auto-hide="false">
                    <div ng-message="required" ng-show="resetPasswordForm.ConfirmPassword.$touched">Password confirmation is required.</div>
                    <div ng-message="matchResult">Passwords don't match</div>
                </div>
            </md-input-container>

            <md-input-container class="md-icon-float md-block">
                <div class="pull-right">
                    <md-button ng-click="resetPassword()" ng-disabled=resetPasswordForm.$invalid
                               class="md-raised md-primary" id="btn-register">Reset</md-button>
                </div>
            </md-input-container>

        </form>
    </md-content>

</div>

@section scripts{
    <script type="text/javascript" src="~/App/controllers/account/ResetPasswordCtrl.js"></script>
    <script src="~/App/directives/account/check-password.js"></script>
<script src="~/App/directives/account/match-password.js"></script>
}
