<div class="modal fade" id="createEdit" tabindex="-1" role="dialog" aria-labelledby="createEditLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{modalOption.modalTitle}}</h4>
            </div>
            <form editable-form name="modalForm" onaftersave="saveModal($data, modalForm.$valid)">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div ng-repeat="item in modalData" class="form-group">
                            <label for="products" class="col-md-3 col-sm-3">{{item.title}}</label>
                            <div class="col-md-9 col-sm-9">
                                <span ng-if="item.type=='textarea'" editable-textarea="item.value" e-name="{{item.variableName}}" e-ng-pattern="item.regExpVaid.reg" e-form-validation="{{item.validation}}" e-class="form-control" >{{ item.value || 'empty' }}</span>
                                <span ng-if="item.type=='text'" editable-text="item.value" e-name="{{item.variableName}}" e-ng-pattern="item.regExpVaid.reg" e-form-validation="{{item.validation}}"  e-class="form-control" >{{ item.value || 'empty' }}</span>
                                <span ng-if="item.type=='number'" editable-number="item.value" e-name="{{item.variableName}}" e-ng-pattern="item.regExpVaid.reg" e-form-validation="{{item.validation}}" onbeforesave="checkName($data)" >{{ item.value || 'empty' }}</span>
                                <span ng-if="item.type=='email'" editable-email="item.value" e-name="{{item.variableName}}" e-ng-pattern="item.regExpVaid.reg" e-form-validation="{{item.validation}}" >{{ item.value || 'empty' }}</span>
                                <span ng-if="item.type=='tel'" editable-tel="item.value" e-name="{{item.variableName}}" e-ng-pattern="item.regExpVaid.reg" e-form-validation="{{item.validation}}" >{{ item.value || 'empty' }}</span>
                                <span ng-if="item.type=='url'" editable-url="item.value" e-name="{{item.variableName}}" e-ng-pattern="item.regExpVaid.reg" e-form-validation="{{item.validation}}" >{{ item.value || 'empty' }}</span>
                                <span ng-if="item.type=='date'" editable-date="item.value" e-name="{{item.variableName}}" e-ng-pattern="item.regExpVaid.reg" e-form-validation="{{item.validation}}" >{{ item.value || 'empty' | date:"dd/MM/yyyy" }}</span>
                                <span ng-if="item.type=='select'" editable-select="item.value" e-name="{{item.variableName}}" e-ng-pattern="item.regExpVaid.reg" e-form-validation="{{item.validation}}" e-ng-options="s.value as s.text for s in item.selectEnum">
                                    {{ (item.selectEnum | filter: {value: item.value} : true)[0].text || 'empty' }}
                                </span>
                                <span ng-if="item.type=='checkbox'" editable-checkbox="item.value" e-name="{{item.variableName}}" e-title="{{item.etitle}}">{{ item.value || 'false' || 'true' }}</span>
                                <span class="text-danger" ng-show="modalForm[item.variableName].$error.formValidation">{{item.validation.errorText}}</span>
                                <span class="text-success glyphicon glyphicon-ok" ng-hide="modalForm[item.variableName].$error.formValidation || !formShown || !modalForm[item.variableName].$dirty || modalForm[item.variableName].$error.pattern"></span>
                                <span class="text-danger" ng-show="modalForm[item.variableName].$error.pattern"> {{item.regExpVaid.text}} </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="modalForm.$show(); modalEdit()" ng-show="!modalForm.$visible" id="show-form-button">
                        Edit
                    </button>
                    <span ng-show="modalForm.$visible">
                        <button type="submit" class="btn btn-primary" ng-disabled="modalForm.$waiting">
                            Save
                        </button>
                        <button type="button" class="btn btn-default" ng-disabled="modalForm.$waiting" ng-click="modalForm.$cancel()" id="cancel-form-button">
                            Cancel
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>