
@{
    ViewBag.Title = "EmergencyContact";

}

@Html.AntiForgeryToken()

<div ng-controller="EmergencyContactCtrl" class="container body-content" style="background-color:black">

    <h2 style="color: white">EmergencyContact</h2>
    <br />
    <button type="button" class="btn btn-default btn-sm" ng-click="AddRow()">Add Contact</button>
    <br />
    <br />
    <div class="table tt" style="color: white">
        <div class="tr" style="font-weight:700">
            <span class="td heavyline">
                Id
            </span>

            <span class="td heavyline">
                First Name
            </span>

            <span class="td heavyline">
                Middle Name
            </span>

            <span class="td heavyline">
                Last Name
            </span>

            <span class="td heavyline">
                Relationship
            </span>

            <span class="td heavyline">
                Priority
            </span>

            <span class="td heavyline">
                Reason
            </span>


        </div>
      

        <form class="tb" ng-repeat="x in emergencyContactList" name="tableForm" id="form{{$index}}">
            <div class="tr">
                <span class="td heavyline">
                    <span>{{x.Id}}</span>
                </span>

                <span class="td heavyline">
                    <span class="form-input" name="Lable0" ng-show="form[$index].showLable[0]" ng-dblclick="LableOnClick(0, $index)">{{x.Firstname}}</span>
                    <input type="text" name="textBox0" class="form-input" ng-model="x.Firstname" ng-show="form[$index].showTextBox[0]" 
                           ng-blur="LableOnUnfocus(0, $index, tableForm)" show-focus ="form[$index].showTextBox[0] && form[$index].focusTextBox[0]"
                           placeholder="First Name" ng-pattern="/^[a-zA-Z]*$/" required />
                    <span ng-show="tableForm.textBox0.$error.required && tableForm.textBox0.$dirty" class="input-error">Required.</span>
                    <span ng-show="tableForm.textBox0.$error.pattern" class="input-error">Incorrect format.</span>
                </span>

                <span class="td heavyline">
                    <span class="form-input" name="Lable1" ng-show="form[$index].showLable[1]" ng-dblclick="LableOnClick(1, $index)">{{x.Middlename}}</span>
                    <input type="text" name="textBox1" class="form-input" ng-model="x.Middlename" ng-show="form[$index].showTextBox[1]" 
                           ng-blur="LableOnUnfocus(1, $index, tableForm)" show-focus ="form[$index].showTextBox[1] && form[$index].focusTextBox[1]"
                           placeholder="Middle Name" ng-pattern="/^[a-zA-Z]*$/" />
                    <span ng-show="tableForm.textBox1.$error.pattern" class="input-error">Incorrect format.</span>
                </span>

                <span class="td heavyline">
                    <span class="form-input" name="Lable2" ng-show="form[$index].showLable[2]" ng-dblclick="LableOnClick(2, $index)">{{x.Lastname}}</span>
                    <input type="text" name="textBox2" class="form-input" ng-model="x.Lastname" ng-show="form[$index].showTextBox[2]" 
                           ng-blur="LableOnUnfocus(2, $index, tableForm)" show-focus ="form[$index].showTextBox[2] && form[$index].focusTextBox[2]"
                           placeholder="Last Name" ng-pattern="/^[a-zA-Z]*$/" required />
                    <span ng-show="tableForm.textBox2.$error.required && tableForm.textBox2.$dirty" class="input-error">Required.</span>
                    <span ng-show="tableForm.textBox2.$error.pattern" class="input-error">Incorrect format.</span>
                </span>

                <span class="td heavyline">
                    <span class="form-input" name="Lable3" ng-show="form[$index].showLable[3]" ng-dblclick="LableOnClick(3, $index)">
                        <span ng-repeat="pp in ecaList.Relationships | filter: {ID: x.RelationshipID}">{{pp.Relationship}}</span>
                    </span>
                          
                    <select name="textBox3" ng-model="x.RelationshipID" class="form-input" ng-show="form[$index].showTextBox[3]" 
                            ng-blur="LableOnUnfocus(3, $index, tableForm)" show-focus ="form[$index].showTextBox[3] && form[$index].focusTextBox[3]" 
                            convert-to-number required >
                        <option class="list-content" value="">&lt; Select &gt;</option>
                        <option ng-repeat="tt in ecaList.Relationships" value="{{tt.ID}}" class="list-content" >{{tt.Relationship}}</option>
                    </select>
                    <span ng-show="tableForm.textBox3.$error.required && tableForm.textBox3.$dirty" class="input-error">Required.</span>
                </span>

                <span class="td heavyline">
                    <span class="form-input" name="Lable4" ng-show="form[$index].showLable[4]" ng-dblclick="LableOnClick(4, $index)">{{x.Priority}}</span>
                    <select name="textBox4" ng-model="x.Priority" class="form-input" ng-show="form[$index].showTextBox[4]"
                           ng-blur="LableOnUnfocus(4, $index, tableForm)" show-focus ="form[$index].showTextBox[4] && form[$index].focusTextBox[4]" 
                           placeholder="Priority" convert-to-number required >
                        <option ng-repeat="tt in priorityList" value="{{tt}}" class="list-content" >{{tt}}</option>
                    </select>
                    <span ng-show="tableForm.textBox4.$error.required && tableForm.textBox4.$dirty" class="input-error">Required.</span>
                </span>

                <span class="td heavyline">
                    <span class="form-input" name="Lable5" ng-show="form[$index].showLable[5]" ng-dblclick="LableOnClick(5, $index)">{{x.Reason}}</span>
                    <input type="text" name="textBox5" class="form-input" ng-model="x.Reason" ng-show="form[$index].showTextBox[5]"
                           ng-blur="LableOnUnfocus(5, $index, tableForm)" show-focus ="form[$index].showTextBox[5] && form[$index].focusTextBox[5]" 
                           placeholder="Reason"/>
                </span>

                <span class="td heavyline">
                    <button type="button" class="btn btn-default btn-sm" style="width: 60px" ng-show="form[$index].showEditBtn" ng-click="EditRow($index)">Edit</button>
                    <button type="button" class="btn btn-default btn-sm" style="width: 60px" ng-show="form[$index].showDelBtn" ng-click="DelRow($index)">Delete</button>
                    <button type="button" class="btn btn-default btn-sm" style="width: 60px" ng-show="form[$index].showSaveBtn" ng-click="SaveRow($index, tableForm)" ng-disabled="form[$index].disableSaveBtn">Save</button>
                    <button type="button" class="btn btn-default btn-sm" style="width: 60px" ng-show="form[$index].showCancelBtn" ng-click="CancelRow($index)" ng-disabled="form[$index].disableCancelBtn">Cancel</button>
                    <button type="button" class="btn btn-default btn-sm" ng-click="PhoneList($index)" ng-disabled="form[$index].disablePhoneBtn">{{form[$index].phoneBtn}}</button>
                </span>
            </div>

            <div class="table tt" style="background-color: transparent" ng-show="form[$index].showList" id="collapseMain{{$index}}">
                
                <div class="tr">
                    <span class="td noline">

                    </span>

                    <span class="td heavyline">
                        <button type="button" class="btn btn-default btn-sm" ng-click="AddRow($index)" ng-disabled="form[$index].disableAddBtn">Add Phone</button>
                    </span>

                    <span class="td heavyline">

                    </span>

                    <span class="td heavyline">
                        
                    </span>

                    <span class="td heavyline">
                        
                    </span>

                    <span class="td heavyline">
                        
                    </span>

                    <span class="td heavyline">
                        
                    </span>


                </div>
                
                <div class="tr" style="font-weight:700">
                    <span class="td noline">

                    </span>

                    <span class="td heavyline">
                        Id
                    </span>

                    <span class="td heavyline">
                        Number
                    </span>

                    <span class="td heavyline">
                        Phone Type
                    </span>

                    <span class="td heavyline">
                        IsMobile
                    </span>

                    <span class="td heavyline">
                        IsPrimary
                    </span>

                    <span class="td heavyline">
                        Country
                    </span>


                </div>

                <div class="tr" ng-repeat="y in x.PhoneList" id="form{{$parent.$index}}phoneForm{{$index}}">

                    <span class="td noline">

                    </span>

                    <span class="td lightline">
                        <span>{{y.Id}}</span>
                    </span>

                    <span class="td lightline">
                        <span class="form-input" name="Lable6At{{$index}}" ng-show="form[$parent.$index].phoneForm[$index].showLable[0]" ng-dblclick="LableOnClick(0, $parent.$index, $index)">{{y.Number}}</span>
                        <input type="text" name="textBox6At{{$index}}" class="form-input" ng-model="y.Number" ng-show="form[$parent.$index].phoneForm[$index].showTextBox[0]" 
                               ng-blur="LableOnUnfocus(0, $parent.$index, tableForm, $index)" show-focus ="form[$parent.$index].phoneForm[$index].showTextBox[0] && form[$parent.$index].phoneForm[$index].focusTextBox[0]" 
                               placeholder="Number" ng-pattern="/^[0-9()-+]+$/" required />
                        <span ng-show="phoneListVal($index, tableForm, 6, 'required')" class="input-error">Required.</span>
                        <span ng-show="phoneListVal($index, tableForm, 6, 'pattern')" class="input-error">Incorrect format.</span>
                    </span>

                    <span class="td lightline">
                        <span class="form-input" name="Lable7At{{$index}}" ng-show="form[$parent.$index].phoneForm[$index].showLable[1]" ng-dblclick="LableOnClick(1, $parent.$index, $index)">
                            <span>
                                <span ng-repeat="pp in ecaList.PhoneTypes | filter: {ID: y.PhoneTypeID}">{{pp.PhoneType}}</span>
                            </span>
                        </span>

                        <select name="textBox7At{{$index}}" ng-model="y.PhoneTypeID" class="form-input" ng-show="form[$parent.$index].phoneForm[$index].showTextBox[1]"
                                ng-blur="LableOnUnfocus(1, $parent.$index, tableForm, $index)" show-focus="form[$parent.$index].phoneForm[$index].showTextBox[1] && form[$parent.$index].phoneForm[$index].focusTextBox[1]"
                                placeholder="Phone Type" convert-to-number required >
                            <option class="list-content" value="">&lt; Select &gt;</option>
                            <option ng-repeat="tt in ecaList.PhoneTypes" value="{{tt.ID}}" class="list-content">{{tt.PhoneType}}</option>
                        </select>
                        <span ng-show="phoneListVal($index, tableForm, 7, 'required')" class="input-error">Required.</span>

                    </span>

                    <span class="td lightline">
                        
                        <span name="Lable8At{{$index}}" ng-show="form[$parent.$index].phoneForm[$index].showLable[2]" ng-dblclick="LableOnClick(2, $parent.$index, $index)">
                            <input type="checkbox" ng-model="y.IsMobile" ng-disabled="true"/> 
                            <span class="form-input">{{y.IsMobile}}</span>
                        </span>
                        <span name="textBox8At{{$index}}" ng-model="y.IsMobile" ng-show="form[$parent.$index].phoneForm[$index].showTextBox[2]" 
                               ng-blur="LableOnUnfocus(2, $parent.$index, tableForm, $index)" show-focus ="form[$parent.$index].phoneForm[$index].showTextBox[2] && form[$parent.$index].phoneForm[$index].focusTextBox[2]" >
                            <input type="checkbox" ng-model="y.IsMobile" />
                            <span class="form-input">{{y.IsMobile}}</span>
                        </span>      
                    </span>

                    <span class="td lightline">
                        <span name="Lable9At{{$index}}" ng-show="form[$parent.$index].phoneForm[$index].showLable[3]" ng-dblclick="LableOnClick(3, $parent.$index, $index)">
                            <input type="checkbox" ng-model="y.IsPrimary" ng-disabled="true" />
                            <span class="form-input">{{y.IsPrimary}}</span>                           
                        </span>
                        <span name="textBox9At{{$index}}" ng-model="y.IsPrimary" ng-show="form[$parent.$index].phoneForm[$index].showTextBox[3]"
                              ng-blur="LableOnUnfocus(3, $parent.$index, tableForm, $index)" show-focus="form[$parent.$index].phoneForm[$index].showTextBox[3] && form[$parent.$index].phoneForm[$index].focusTextBox[3]">
                            <input type="checkbox" ng-model="y.IsPrimary" />
                            <span class="form-input">{{y.IsPrimary}}</span>
                        </span>
                    </span>

                    <span class="td lightline">
                        <span class="form-input" name="Lable10At{{$index}}" ng-show="form[$parent.$index].phoneForm[$index].showLable[4]" ng-dblclick="LableOnClick(4, $parent.$index, $index)">
                            <span>
                                <span ng-repeat="pp in ecaList.PhoneCountries | filter: {ID: y.CountryID}">{{pp.Name}} | {{pp.PhoneCode}}</span>
                            </span>
                        </span>
                    
                        <select name="textBox10At{{$index}}" ng-model="y.CountryID" class="form-input" ng-show="form[$parent.$index].phoneForm[$index].showTextBox[4]" 
                               ng-blur="LableOnUnfocus(4, $parent.$index, tableForm, $index)" show-focus ="form[$parent.$index].phoneForm[$index].showTextBox[4] && form[$parent.$index].phoneForm[$index].focusTextBox[4]" 
                               placeholder="Country" convert-to-number >
                            <option class="list-content" value="a">&lt; Select &gt;</option>
                            <option ng-repeat="tt in ecaList.PhoneCountries" value="{{tt.ID}}" class="list-content">{{tt.Name}} | {{tt.PhoneCode}}</option>
                        </select>
                    </span>

                    <span class="td lightline">
                        <button type="button" class="btn btn-default btn-sm" style="width: 60px" ng-show="form[$parent.$index].phoneForm[$index].showEditBtn" ng-click="EditRow($parent.$index, $index)">Edit</button>
                        <button type="button" class="btn btn-default btn-sm" style="width: 60px" ng-show="form[$parent.$index].phoneForm[$index].showDelBtn" ng-click="DelRow($parent.$index, $index)" ng-disabled="form[$parent.$index].phoneForm[$index].disableDelBtn" >Delete</button>
                        <button type="button" class="btn btn-default btn-sm" style="width: 60px" ng-show="form[$parent.$index].phoneForm[$index].showSaveBtn" ng-click="SaveRow($parent.$index, tableForm, $index )">Save</button>
                        <button type="button" class="btn btn-default btn-sm" style="width: 60px" ng-show="form[$parent.$index].phoneForm[$index].showCancelBtn" ng-click="CancelRow($parent.$index, $index)" ng-disabled="form[$parent.$index].phoneForm[$index].disableCancelBtn">Cancel</button>
                    </span>
                </div>
            </div>

        </form>   

    </div>

    <button type="button" class="btn btn-default btn-sm" ng-click="AddRow()" >Add Contact</button>

</div>

<style>
    DIV.tt {
        display: table;
        border-collapse: collapse;
        border-spacing: 0;
        width: 1125px;   
        margin-bottom: 20px;
        max-width: 100%;
        background-color: transparent;
        box-sizing: border-box;
        table-layout:fixed
    }

    FORM.tb, DIV.tb {
        display: table-row-group;
    }

    FORM.tr, DIV.tr {
        display: table-row;
    }

    DIV.td, SPAN.td {
        display: table-cell;
        padding: 8px;
        line-height: 1.428571429;
        vertical-align: middle;
        table-layout: fixed;
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;  
        width: 130px;
    }

    SPAN.noline {
        border-top: 0px solid #dddddd;
    }

    SPAN.lightline {
        border-top: 0.5px solid #dddddd;
    }

    SPAN.heavyline {
        border-top: 1.5px solid #dddddd;
    }

    INPUT.form-input {
        display: block;
        width: 100%;
        font-size: 14px;
        padding: 3px 5px;
        line-height: 1.428571429;
        color: white;
        vertical-align: middle;
        background-color: rgba(255, 255, 255, 0.18);
        border: 1px solid #cccccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
                transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    }

    INPUT.form-input:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    }

    SELECT.form-input {
        display: block;
        width: 100%;
        font-size: 14px;
        padding: 3px 1px;
        line-height: 1.428571429;
        color: white;
        vertical-align: middle;
        background-color: rgba(255, 255, 255, 0.18);
        border: 1px solid #cccccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
                transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    }

    OPTION.list-content {
        color: black;
    }

    SPAN.form-input {
        padding: 3px 6px;
    }

    SPAN.input-error {
        font-size: small;
        color: red;
        font-style: oblique;
    }

</style>

<script src="~/App/controllers/manage/EmergencyContactCtrl.js"></script>

