
@{
    ViewBag.Title = "EmergencyContactIndex";
}

<h2>EmergencyContactIndex</h2>

@Html.AntiForgeryToken()

@section scripts {
    <script src="~/App/controllers/EmergencyContactCtrl.js"></script>
}
