
@*/*!
     Name        : UserProfile.cshtml
     Version     :
     Author      : Riyas
     Date        : 10-08-2016
     Description : This Razor view view file interface for profile page.
                   interect with ProfileCtrl.js file.
     */*@

@{
    ViewBag.Title = "UserProfile";
}

@section scripts{
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQNYfr281euHPb2FHK6gB4hPCavqEHZCM&libraries=places"></script>
    <script src="~/App/controllers/manage/ProfileCtrl.js"></script>
    <script src="~/App/api/AutoCompleteAddress.js"></script>
}

<div ng-controller="manage/ProfileCtrl">
    @Html.AntiForgeryToken()


    <h2 style="text-align:center">User Profile</h2>

    <md-content>
        <div class="gridList">
            <div>
                <div class="gray" md-rowspan="1" md-colspan="1" md-colspan-lg="1" md-colspan-sm="1" md-colspan-xs="1" md-colspan-gt-xs="1" md-colspan-md="1">

                    <div layout-gt-sm="row" style="padding:0px; margin-right:5px" class="md-block" flex-gt-sm>

                        @*******  IMAGE  ********@

                        <div layout="column" style="width:25%; padding:10px; align-items:center">
                            @*<div>Select an image: <input type="file" id="fileInput" /></div>*@
                            <div style="width:150px; height:150px; border:thin solid blue; margin:auto">
                                <img style="width:148px; height:148px" src="~/Resource/images/Man.png" />
                            </div>
                            @*<div><md-button class="md-raised md-primary">Add Picture</md-button></div>*@
                        </div>

                        @*******  USER DETAILS  ********@

                        <md-content class="gray" style="margin-top:30px; margin-right:10px; margin-left:10px; width:75%">
                            <form name="userFormDetail">

                                <div layout-gt-sm="row">

                                    <md-input-container class="md-block" flex-gt-sm ng-class="{ 'has-error' : userFormDetail.firstname.$invalid && !userFormDetail.firstname.$pristine }">
                                        <label>First Name</label>
                                        <input required md-maxlength="30" name="firstname" ng-model="data.ProfileModel.FirstName" role="alert" />
                                        <div ng-messages="userFormDetail.firstname.$error">
                                            <div ng-message="maxlength">The name has to be less than 30 characters.</div>
                                            <div ng-message="required">First name is required.</div>
                                        </div>
                                    </md-input-container>

                                    <div flex="5" hide-xs hide-sm>
                                        <!-- Spacer //-->
                                    </div>

                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Middle Name</label>
                                        <input md-maxlength="30" name="middlename" ng-model="data.ProfileModel.MiddleName" />

                                    </md-input-container>

                                    <div flex="5" hide-xs hide-sm>
                                        <!-- Spacer //-->
                                    </div>

                                    <md-input-container class="md-block" flex-gt-sm ng-class="{ 'has-error' : userFormDetail.lastname.$invalid && !userFormDetail.lastname.$pristine }">
                                        <label>Last Name</label>
                                        <input required md-maxlength="30" name="lastname" ng-model="data.ProfileModel.LastName" />
                                        <div ng-messages="userFormDetail.lastname.$error">
                                            <div ng-message="maxlength">The name has to be less than 30 characters long.</div>
                                            <div ng-message="required">First name is required.</div>
                                        </div>
                                    </md-input-container>

                                </div>

                                @********Gender row ******@

                                <div layout-gt-sm="row">
                                    <md-input-container class="md-block" style="margin-top:13px; width:240px" ng-class="{ 'has-error' : userFormDetail.nameGender.$invalid && !userFormDetail.nameGender.$pristine }">
                                        <label>Gender</label>
                                        <md-select required name="nameGender" ng-model="data.PersonModel.Gender">
                                            <md-option ng-repeat="gendertype in gendertypes" value="{{gendertype.abbrev}}">
                                                {{gendertype.abbrev}}
                                            </md-option>
                                        </md-select>
                                        <div ng-messages="userFormDetail.nameGender.$error">
                                            <div ng-message="required">First name is required.</div>
                                        </div>
                                    </md-input-container>

                                    <div flex="5" hide-xs hide-sm>
                                        @*//Spacer //*@
                                    </div>

                                    <div>
                                        <md-datepicker required name="nameDatePicker" style="width:1000px; align-items:center" ng-model="data.PersonModel.DoB" md-placeholder="Date of Birth" ng-class="{ 'has-error' : userFormDetail.nameDatePicker.$invalid && !userFormDetail.nameDatePicker.$pristine }">
                                        </md-datepicker>
                                        <div ng-messages="userFormDetail.nameDatePicker.$error">
                                            <div ng-message="required">Date of birth is required.</div>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </md-content>
                    </div>
                </div>


                <div class="gray tabsDynamicHeight">

                    <div layout="column" style="padding:15px">
                        <div layout="column">
                            <md-tabs md-dynamic-height="" md-border-bottom="">

                                @*******   ADDRESS TAB  *******@

                                <md-tab label="Address">
                                    <div layout="column">
                                        <md-content layout-padding>
                                            <div data-ng-repeat="address in addresses">
                                                <form name="userFormAddress">
                                                    <fieldset class="address-show" style="padding:10px">
                                                        <div layout="row" style="align-items:baseline">

                                                            <md-input-container class="md-block" style="width: 150px" ng-class="{ 'has-error' : userFormAddress.addressType.$invalid && !userFormAddress.addressType.$pristine }">
                                                                <label>Address Type</label>
                                                                <md-select required name="addressType" ng-model="address.AddressTypeId" style="width:150px">
                                                                    <md-option ng-repeat="addresstype in addresstypes" value="{{addresstype.Id}}">
                                                                        {{addresstype.Name}}
                                                                    </md-option>
                                                                </md-select>
                                                                <div ng-messages="userFormAddress.addressType.$error">
                                                                    <div ng-message-exp="['required']">
                                                                        Address Type has to be selected.
                                                                    </div>
                                                                </div>
                                                            </md-input-container>

                                                            <div layout="row" style="align-items:flex-end; width: 100px; margin-left:30px">
                                                                <md-checkbox ng-model="address.IsPrimary" ng-click="addresPrimarySelection($index, addresses)">
                                                                </md-checkbox>
                                                                <p><b>Primary</b></p>
                                                            </div>

                                                        </div>

                                                        <div layout-gt-sm="row">

                                                            <md-input-container class="md-block" flex-gt-sm ng-class="{ 'has-error' : userFormAddress.firstname.$invalid && !userFormAddress.firstname.$pristine }">
                                                                <label>Street No</label>
                                                                <input required md-maxlength="10" name="firstname" ng-model="address.StreetNumber" role="alert" />
                                                                <div ng-messages="userFormAddress.firstname.$error">
                                                                    <div ng-message-exp="['maxlength']">
                                                                        Street number has to be less than 10 digit.
                                                                    </div>
                                                                    <div ng-message-exp="['required']">
                                                                        Street number is required.
                                                                    </div>
                                                                </div>
                                                            </md-input-container>

                                                            <div flex="5" hide-xs hide-sm>
                                                                <!-- Spacer //-->
                                                            </div>

                                                            <md-input-container class="md-block" flex-gt-sm ng-class="{ 'has-error' : userFormAddress.nameStreetname.$invalid && !userFormAddress.nameStreetname.$pristine }">
                                                                <label>Street Name</label>
                                                                <input required md-maxlength="30" name="nameStreetname" ng-model="address.StreetName" />
                                                                <div ng-messages="userFormAddress.nameStreetname.$error">
                                                                    <div ng-message-exp="['maxlength']">
                                                                        Street name has to be less than 30 digit.
                                                                    </div>
                                                                    <div ng-message-exp="['required']">
                                                                        Street name is required.
                                                                    </div>
                                                                </div>
                                                            </md-input-container>

                                                            <div flex="5" hide-xs hide-sm>
                                                                <!-- Spacer //-->
                                                            </div>

                                                            <md-input-container class="md-block" flex-gt-sm ng-class="{ 'has-error' : userFormAddress.nameSuburb.$invalid && !userFormAddress.nameSuburb.$pristine }">
                                                                <label>Suburb</label>
                                                                <input required md-maxlength="30" name="nameSuburb" ng-model="address.Suburb" />
                                                                <div ng-messages="userFormAddress.nameSuburb.$error">
                                                                    <div ng-message="required">Suburb is required.</div>
                                                                    <div ng-message="maxlength">The name has to be less than 30 characters long.</div>
                                                                </div>
                                                            </md-input-container>

                                                        </div>

                                                        @******Address row 2******@

                                                        <div layout-gt-sm="row">

                                                            <md-input-container class="md-block" flex-gt-sm ng-class="{ 'has-error' : userFormAddress.nameCountry.$invalid && !userFormAddress.nameCountry.$pristine }">
                                                                <label>Country</label>
                                                                <md-select required name="nameCountry" ng-model="address.Country">
                                                                    <md-option ng-repeat="country in countrytypes" value="{{country.Name}}">
                                                                        {{country.Name}}
                                                                    </md-option>
                                                                </md-select>
                                                                <div ng-messages="userFormAddress.nameCountry.$error">
                                                                    <div ng-message="required">The country has to be selected.</div>
                                                                </div>
                                                            </md-input-container>

                                                            <div flex="5" hide-xs hide-sm>
                                                                <!-- Spacer //-->
                                                            </div>

                                                            <md-input-container class="md-block" flex-gt-sm ng-class="{ 'has-error' : userFormAddress.nameCity.$invalid && !userFormAddress.nameCity.$pristine }">
                                                                <label>City</label>
                                                                <input required md-maxlength="30" name="nameCity" ng-model="address.City" role="alert" />
                                                                <div ng-messages="userFormAddress.nameCity.$error">
                                                                    <div ng-message-exp="['maxlength']">
                                                                        City has to be less than 30 characters long.
                                                                    </div>
                                                                    <div ng-message="required">City is required.</div>
                                                                </div>
                                                            </md-input-container>

                                                            <div flex="5" hide-xs hide-sm>
                                                                <!-- Spacer //-->
                                                            </div>

                                                            <md-input-container class="md-block" flex-gt-sm>
                                                                <label>State</label>
                                                                <md-select name="nameState" ng-model="address.State">
                                                                    <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                                                                        {{state.abbrev}}
                                                                    </md-option>
                                                                </md-select>
                                                            </md-input-container>

                                                            <div flex="5" hide-xs hide-sm>
                                                                <!-- Spacer //-->
                                                            </div>

                                                            <md-input-container class="md-block" flex-gt-sm ng-class="{ 'has-error' : userFormAddress.nameZip.$invalid && !userFormAddress.nameZip.$pristine }">
                                                                <label>Zip Code</label>
                                                                <input required md-maxlength="10" name="nameZip" ng-model="address.ZipCode" />
                                                                <div ng-messages="userFormAddress.nameZip.$error">
                                                                    <div ng-message="maxlength">The zip code has to be less than 10 characters long.</div>
                                                                    <div ng-message="required">The zip code is required.</div>
                                                                </div>
                                                            </md-input-container>

                                                        </div>

                                                        <div style="width: 100%; margin: 0 auto; text-align: right">
                                                            <md-button ng-disabled="addressdissable" class="md-raised md-warn" ng-click="confirmDeleteAddress($event, $index); deActiveAddressDeleteButton()">Delete</md-button>
                                                        </div>
                                                        @*<hr style="height:3px; background-color:cornflowerblue; margin:0; border-radius:3px 3px" />*@
                                                    </fieldset>
                                                </form>
                                            </div>

                                            @*******Add New address*******@

                                            <div style="margin-left:15px">
                                                Add New Address <input type="checkbox" ng-model="checked" ng-change="toggleSync()" aria-label="Toggle ngHide"><br />
                                            </div>

                                            <div style="margin:15px" class="check-element animate-show" ng-show="checked">
                                                <form name="userFormAddaddress" id="userFormAddaddressId">
                                                    <fieldset style="padding:10px">

                                                        <label style="margin-bottom:20px">Add New Address here!</label>

                                                        <div layout="row" style="margin:0px">
                                                            <md-input-container class="md-block" style="width: 450px; margin:0px">
                                                                <input id='input' type='text' style="background-color:lightblue" />
                                                                @*@Html.TextBox("input")*@
                                                            </md-input-container>
                                                        </div>

                                                        <div style="height:60px" layout-gt-sm="row">

                                                            <md-input-container class="md-block" flex-gt-sm ng-class="{ 'has-error' : userFormAddaddress.addressType.$invalid && !userFormAddaddress.addressType.$pristine }">
                                                                <label>Address Type</label>
                                                                <md-select required id="addressType" name="addressType" ng-model="addAddress.AddressTypeId" style="width:150px">
                                                                    <md-option ng-repeat="addresstype in addresstypes" value="{{addresstype.Id}}">
                                                                        {{addresstype.Name}}
                                                                    </md-option>
                                                                </md-select>
                                                                <div ng-messages="userFormAddaddress.addressType.$error">
                                                                    <div ng-message-exp="['required']">
                                                                        Address Type has to be selected.
                                                                    </div>
                                                                </div>
                                                            </md-input-container>

                                                            <div flex="5" hide-xs hide-sm>
                                                                <!-- Spacer //-->
                                                            </div>

                                                            <md-input-container class="md-block" flex-gt-sm ng-class="{ 'has-error' : userFormAddaddress.firstname.$invalid && !userFormAddaddress.firstname.$pristine }">
                                                                <label>Street No</label>
                                                                <input required id="street_number" md-maxlength="10" name="firstname" ng-model="addAddress.StreetNumber" />
                                                                <div ng-messages="userFormAddaddress.firstname.$error">
                                                                    <div ng-message-exp="['maxlength']">
                                                                        Street number has to be less than 10 digit.
                                                                    </div>
                                                                    <div ng-message-exp="['required']">
                                                                        Street number is required.
                                                                    </div>
                                                                </div>
                                                            </md-input-container>

                                                            <div flex="5" hide-xs hide-sm>
                                                                <!-- Spacer //-->
                                                            </div>

                                                            <md-input-container class="md-block" flex-gt-sm ng-class="{ 'has-error' : userFormAddaddress.nameStreetname.$invalid && !userFormAddaddress.nameStreetname.$pristine }">
                                                                <label>Street Name</label>
                                                                <input required id="route" md-maxlength="30" name="nameStreetname" ng-model="addAddress.StreetName" />
                                                                <div ng-messages="userFormAddaddress.nameStreetname.$error">
                                                                    <div ng-message-exp="['maxlength']">
                                                                        Street name has to be less than 30 digit.
                                                                    </div>
                                                                    <div ng-message-exp="['required']">
                                                                        Street name is required.
                                                                    </div>
                                                                </div>
                                                            </md-input-container>

                                                            <div flex="5" hide-xs hide-sm>
                                                                <!-- Spacer //-->
                                                            </div>

                                                            <md-input-container class="md-block" flex-gt-sm ng-class="{ 'has-error' : userFormAddaddress.nameSuburb.$invalid && !userFormAddaddress.nameSuburb.$pristine }">
                                                                <label>Suburb</label>
                                                                <input required id="administrative_area_level_2" md-maxlength="30" name="nameSuburb" ng-model="addAddress.Suburb" />
                                                                <div ng-messages="userFormAddaddress.nameSuburb.$error">
                                                                    <div ng-message="required">Suburb is required.</div>
                                                                    <div ng-message="maxlength">The name has to be less than 30 characters long.</div>
                                                                </div>
                                                            </md-input-container>

                                                        </div>

                                                        @******Address row 2******@

                                                        <div style="height:60px; margin-top:5px" layout-gt-sm="row">

                                                            <md-input-container class="md-block" flex-gt-sm ng-class="{ 'has-error' : userFormAddaddress.nameCountry.$invalid && !userFormAddaddress.nameCountry.$pristine }">
                                                                <label>Country</label>
                                                                <input required id="country" md-maxlength="30" name="nameCountry" ng-model="addAddress.Country" role="alert" />
                                                                @*<md-select required id="country" name="nameCountry" ng-model="address.Country">
                                                                        <md-option ng-repeat="country in countrytypes" value="{{country.Name}}">
                                                                            {{country.Name}}
                                                                        </md-option>
                                                                    </md-select>*@
                                                                <div ng-messages="userFormAddaddress.nameCountry.$error">
                                                                    <div ng-message="required">Country is required.</div>
                                                                    <div ng-message="maxlength">Country has to be less than 30 characters long.</div>
                                                                </div>
                                                            </md-input-container>

                                                            <div flex="5" hide-xs hide-sm>
                                                                <!-- Spacer //-->
                                                            </div>

                                                            <md-input-container class="md-block" flex-gt-sm ng-class="{ 'has-error' : userFormAddaddress.nameCity.$invalid && !userFormAddaddress.nameCity.$pristine }">
                                                                <label>City</label>
                                                                <input required id="locality" md-maxlength="30" name="nameCity" ng-model="addAddress.City" role="alert" />
                                                                <div ng-messages="userFormAddaddress.nameCity.$error">
                                                                    <div ng-message-exp="['maxlength']">
                                                                        City has to be less than 30 characters long.
                                                                    </div>
                                                                    <div ng-message="required">City is required.</div>
                                                                </div>
                                                            </md-input-container>

                                                            <div flex="5" hide-xs hide-sm>
                                                                <!-- Spacer //-->
                                                            </div>

                                                            <md-input-container class="md-block" flex-gt-sm>
                                                                <label>State</label>
                                                                <md-select id="administrative_area_level_1" name="nameState" ng-model="addAddress.State">
                                                                    <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                                                                        {{state.abbrev}}
                                                                    </md-option>
                                                                </md-select>
                                                            </md-input-container>

                                                            <div flex="5" hide-xs hide-sm>
                                                                <!-- Spacer //-->
                                                            </div>

                                                            <md-input-container class="md-block" flex-gt-sm ng-class="{ 'has-error' : userFormAddaddress.nameZip.$invalid && !userFormAddaddress.nameZip.$pristine }">
                                                                <label>Zip Code</label>
                                                                <input required id="postal_code" md-maxlength="10" name="nameZip" ng-model="addAddress.ZipCode" />
                                                                <div ng-messages="userFormAddaddress.nameZip.$error">
                                                                    <div ng-message="maxlength">The zip code has to be less than 10 characters long.</div>
                                                                    <div ng-message="required">The zip code is required.</div>
                                                                </div>
                                                            </md-input-container>

                                                        </div>

                                                        <div style="width: 100%; margin-top:30px; text-align: right">
                                                            <md-button class="md-primary" ng-click="resetform()">Reset</md-button>
                                                        </div>

                                                    </fieldset>
                                                </form>
                                            </div>
                                        </md-content>
                                    </div>

                                </md-tab>

                                @*******  PHONE TAB  *******@

                                <md-tab label="Phone">
                                    <md-content style="margin: auto">

                                        <div style="padding:15px; text-align:center">
                                            <md-button ng-disabled="userFormPhone.$invalid" class="md-raised md-primary" ng-click="addNewPhoneNumber(); deActivePhoneDeleteButton()">Add Phone No</md-button>
                                        </div>
                                        <form name="userFormPhone">
                                            <div layout-gt-sm="row" margin-top:15px; align-items:center" flex-offset="30px">

                                                <fieldset style="padding:20px; width:300px" data-ng-repeat="phoneNumber in phoneNumbers">
                                                    <div layout="row">

                                                        <div layout="row">
                                                            <md-checkbox ng-model="phoneNumber.IsPrimary" ng-click="phonePrimarySelection($index, phoneNumbers)">
                                                            </md-checkbox>
                                                            <p><b>Primary</b></p>
                                                        </div>

                                                        <div layout="row">
                                                            <md-checkbox style="margin-left:60px; text-align: right" ng-model="phoneNumber.IsMobile">
                                                            </md-checkbox>
                                                            <p style="margin-right:0px; text-align: right"><b>Mobile </b></p>
                                                        </div>

                                                    </div>

                                                    <md-input-container class="md-block" style="margin-top:25px" ng-class="{ 'has-error' : userFormPhone.phoneType.$invalid && !userFormPhone.phoneType.$pristine }">
                                                        <label>Phone Type</label>
                                                        <md-select name="phoneType" ng-model="phoneNumber.PhoneTypeId" required>
                                                            <md-option ng-repeat="phonetype in phonetypes" value="{{phonetype.Id}}">
                                                                {{phonetype.Name}}
                                                            </md-option>
                                                        </md-select>
                                                        <p ng-show="userFormPhone.phoneType.$invalid && !userFormPhone.phoneType.$pristine" class="help-block">Phone is required.</p>
                                                    </md-input-container>

                                                    <md-input-container class="md-block" ng-class="{ 'has-error' : userFormPhone.country.$invalid && !userFormPhone.country.$pristine }">
                                                        <label>Country</label>
                                                        <md-select name="country" ng-model="phoneNumber.CountryId" required>
                                                            <md-option ng-repeat="countrytype in countrytypes" value="{{countrytype.Id}}">
                                                                {{countrytype.Name}}
                                                            </md-option>
                                                        </md-select>
                                                        <p ng-show="userFormPhone.country.$invalid && !userFormPhone.country.$pristine" class="help-block">Country is required.</p>
                                                    </md-input-container>

                                                    <div flex="5" hide-xs hide-sm>
                                                        <!-- Spacer //-->
                                                    </div>

                                                    <md-input-container class="md-block" flex-gt-sm ng-class="{ 'has-error' : userFormPhone.phone.$invalid && !userFormPhone.phone.$pristine }">
                                                        <label>Phone Number</label>
                                                        <input placeholder="021-78658" required id="phone" name="phone" ng-model="phoneNumber.Number" ng-pattern="/^([0-9]{3}) [0-9]{3}[0-9]{4}$/" />
                                                        @*<p ng-show="userFormPhone.phone.$pristine" class="help-block">Phone no is required.</p>
                                                            <p ng-show="userFormPhone.phone.$error.pattern" class="help-block">Enter a valid phone number.</p>*@
                                                        @*<div class="hint">(123) 1234567</div>*@
                                                        <div ng-messages="userFormPhone.phone.$error">
                                                            <div ng-message="pattern">(123) 1234567 - Enter a valid phone number.</div>
                                                        </div>
                                                    </md-input-container>

                                                    <div style="width: 50%; margin: 0 auto; text-align: right">
                                                        <md-button ng-disabled="dissable" style="padding:0px; width:10px" class="md-raised md-warn" ng-click="confirmDeletePhone($event, $index)">Delete</md-button>
                                                    </div>
                                                </fieldset>

                                            </div>
                                        </form>
                                    </md-content>
                                </md-tab>

                                @*******  EMAIL TAB  *******@

                                <md-tab label="Email">
                                    <md-content>
                                        <div style="padding:15px; text-align:center">
                                            <md-button ng-disabled="userFormEmail.$invalid" class="md-raised md-primary" ng-click="addNewEmail(); deActiveEmailDeleteButton()">Add Email</md-button>
                                        </div>

                                        <form name="userFormEmail">
                                            <div layout-gt-sm="row" margin-top:15px" flex-offset="30px">
                                                <!-- Add new email fields //-->

                                                <fieldset style="padding:10px; width:300px" data-ng-repeat="email in emails">

                                                    <div layout="row" style="text-align:center">
                                                        <md-checkbox ng-model="email.IsPrimary" ng-click="updateSelection($index, emails)">
                                                        </md-checkbox>
                                                        <p style="padding:5px"><b>Primary </b></p>
                                                    </div>

                                                    <md-input-container class="md-block" style="margin-top:25px" ng-class="{ 'has-error' : userFormEmail.emailInputType.$invalid && !userFormEmail.emailInputType.$pristine }">
                                                        <label>Email Type</label>
                                                        <md-select name="emailInputType" ng-model="email.EmailTypeId" required>
                                                            <md-option ng-repeat="emailtype in emailtypes" value="{{emailtype.Id}}">
                                                                {{emailtype.Name}}
                                                            </md-option>
                                                        </md-select>
                                                        <div ng-messages="userForm.emailInputType.$error">
                                                            <div ng-message="required">This field is required</div>
                                                        </div>
                                                    </md-input-container>

                                                    <md-input-container class="md-block" ng-class="{ 'has-error' : userFormEmail.emailInput.$invalid && !userFormEmail.emailInput.$pristine }">
                                                        <label>Email</label>
                                                        <input name="emailInput" ng-model="email.Email"
                                                               required minlength="10" maxlength="100" ng-pattern="/^.+.+\..+$/" />
                                                        @*<div class="hint">How can we reach you?</div>*@
                                                        <div ng-messages="userFormEmail.emailInput.$error" role="alert">
                                                            <div ng-message="required">This field is required</div>
                                                            <div ng-message-exp="['minlength', 'maxlength']">
                                                                Email must be between 10 and 100 characters long.
                                                            </div>
                                                            <div ng-message="pattern">Enter a valid email.</div>
                                                        </div>
                                                    </md-input-container>

                                                    <div flex="10" hide-xs hide-sm>
                                                        <!-- Spacer //-->
                                                    </div>

                                                    <div style="width: 50%; margin: 0 auto; text-align: right">
                                                        <md-button ng-disabled="emaildissable" style="padding:0px; width:10px" class="md-raised md-warn" ng-click="confirmDeleteEmail($event, $index)">Delete</md-button>
                                                    </div>

                                                </fieldset>
                                            </div>

                                        </form>
                                    </md-content>
                                </md-tab>
                            </md-tabs>

                            <div style="margin-top:15px">
                                <md-button style="width:20px" ng-disabled="userForm.$invalid" ng-click="postdata()" class="md-raised md-primary">Save</md-button>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </md-content>
</div>

<style>
    .md-datepicker-input {
        max-width: 500px;
    }

    .md-datepicker-triangle-button.md-button.md-icon-button {
        margin-left: 50px;
    }

    md-checkbox ._md-icon {
        background-color: white;
    }

    md-checkbox.md-checked ._md-icon {
        background-color: green;
    }

    md-tabs md-ink-bar {
        color: dodgerblue;
        background-color: dodgerblue;
    }

    .gridList md-grid-list {
        margin: 8px;
    }

    .gridList .gray {
        background: #f5f5f5;
    }

    .gridList .green {
        background: #b9f6ca;
    }

    .gridList .yellow {
        background: #ffff8d;
    }

    .gridList .blue {
        background: #84ffff;
    }

    .gridList .purple {
        background: #b388ff;
    }

    .gridList .red {
        background: #ff8a80;
    }

    .gridList md-grid-tile {
        transition: all 400ms ease-out 50ms;
    }

    .tabsDynamicHeight md-content {
        background-color: transparent !important;
    }

        .tabsDynamicHeight md-content md-tabs {
            background: #f6f6f6;
            border: 1px solid #e1e1e1;
        }

            .tabsDynamicHeight md-content md-tabs md-tabs-wrapper {
                background: white;
            }

        .tabsDynamicHeight md-content h1:first-child {
            margin-top: 0;
        }

    .inputdemoErrorsAdvanced .hint {
        /* Position the hint */
        position: absolute;
        left: 2px;
        right: auto;
        bottom: 7px;
        /* Copy styles from ng-messages */
        font-size: 12px;
        line-height: 14px;
        transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
        /* Set our own color */
        color: grey;
    }

        .inputdemoErrorsAdvanced .hint.ng-hide,
        .inputdemoErrorsAdvanced .hint.ng-enter,
        .inputdemoErrorsAdvanced .hint.ng-leave.ng-leave-active {
            bottom: 26px;
            opacity: 0;
        }

            .inputdemoErrorsAdvanced .hint.ng-leave,
            .inputdemoErrorsAdvanced .hint.ng-enter.ng-enter-active {
                bottom: 7px;
                opacity: 1;
            }

    .address-show {
        line-height: 20px;
        opacity: 1;
        padding: 10px;
        border: 3px thick cornflowerblue;
        background: rgb(238,238,238);
    }
    /***  animate ******/

    .animate-show {
        line-height: 20px;
        opacity: 1;
        padding: 10px;
        border: 3px solid white;
        background: white;
    }

        .animate-show.ng-hide-add, .animate-show.ng-hide-remove {
            transition: all linear 0.5s;
        }

        .animate-show.ng-hide {
            line-height: 0;
            opacity: 0;
            padding: 0 10px;
        }

    .check-element {
        padding: 10px;
        border: 3px solid white;
        background: white;
    }


    /***Button****/

    .btDelete {
        width: 20px;
    }
</style>
