@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

@Html.ActionLink("Test", "Test", null, new { @class="btn btn-default btn-lg"})

@Html.ActionLink("Test2", "Test2", null, new { @class = "btn btn-default btn-lg" })

<table class="table table-hover">
    <tr>  
        <td>
            <div style="display:inline-block; padding-top:10px" >
                <span class="glyphicon glyphicon-headphones" style="color:rgba(78, 36, 12, 0.4); font-size:30px; margin-right:20px"></span>
                <div style="display:inline-block">
                    <div class="pageTitle">
                        <a class="pageLink" href="#">说话算话</a>
                    </div>
                    <div class="pageTitleEng">
                        Keep Your Word
                    </div>
                </div>
            </div>

            <div style="display:inline-block; float:right; padding-top:20px; margin-right:100px; width:140px">
                <span class="glyphicon glyphicon-user" style="color:rgba(78, 36, 12, 0.4); font-size:30px; margin-right:10px"></span>
                <div style="display:inline-block">
                    <div class="pageSpeaker">
                        <a href="#">Ps Dixon</a>
                    </div>
                    <div class="pageDate">
                        28 Aug 2016
                    </div>
                </div>
            </div>
            <hr />
            <div class="pageReading">
                马太福音 Matthew 5: 33-37
            </div>
        </td>  
    </tr>
</table>

<style>
    body {
        font-family: 微软雅黑, "Open Sans", sans-serif;
    }

    .pageTitle {
        font-weight: bold;
        font-size: 16px;
        color: #4E240C;
    }

    .pageTitleEng {
        font-size: 13px;
        color: #4E240C;
    }

    .pageDate {
        font-size: x-small;
        font-style: italic;
    }

    .pageReading{
        text-indent: 50px;
        margin-top:-10px
    }

    .pageLink:link, .pageLink:visited {
        color: #4E240C;
        text-align: center;
        text-decoration:none;
        display: inline-block;
}

    .pageLink:hover, .pageLink:active {
        color: rgba(78, 36, 12, 0.6);
}

    .pageMonthTitle {
		color: rgba(78, 36, 12, 0.6);
		font-size: 20px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
</style>