
@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>

{{test.Id}}


<select ng-model="test" class="form-input"  
        ng-options="option.value for option in typeOptions track by option.Id">
    
</select>

<select ng-model="test.Id" class="form-input" convert-to-number>
    <option  ng-repeat="tt in typeOptions" value="{{tt.Id}}" >
        {{tt.value}}
    </option>
</select>


<div ng-controller="MyController">
    <label for="flag">
        Success
        <input id="flag" type="checkbox" ng-model="flag" /><br />
    </label>
    <hr />
    <button ng-click="handle()">Click Me!</button>
</div>

