
@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Address
        </th>
        <th>
            
        </th>
    </tr>
    <tr ng-repeat="x in data" >
        <td>
            {{x.name}}
        </td>
        <td>
            {{x.address}}
        </td>
        <td>
            <button type="button" class="btn btn-default" ng-click="edit($index)">Edit</button>
        </td>
    </tr>


</table>

{{test.Id}}


<select ng-model="test" class="form-input"  
        ng-options="option.value for option in typeOptions track by option.Id">
    
</select>

<select ng-model="test.Id" class="form-input" convert-to-number>
    <option  ng-repeat="tt in typeOptions" value="{{tt.Id}}" >
        {{tt.value}}
    </option>
</select>

<select ng-model="filterCondition.operator">
    <option ng-selected="{{operator.value == filterCondition.operator}}" ng-repeat="operator in operators" value="{{operator.value}}">{{operator.displayName}}</option>
</select>

<div>
    <form name='myForm'>
        <input name='inputName' />
        <input name='staticName' />
    </form>
    <a ng-click='doStuff()'>Click</a>
</div>

<script type="text/ng-template" id="modalEdit">
    <form name="editForm">
        <div class="modal-body">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-md-3">Name</label>
                    <div class="col-md-9">
                        <input name="name" class="form-control" ng-model="modal.name" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3">Address</label>
                    <div class="col-md-9">
                        <input name="address" class="form-control" ng-model="modal.address" />
                    </div>
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <div class="col-md-offset-0 col-md-12">
                <button ng-click="save(modal, index)" type="button" class="btn btn-default">Save</button>
                <button ng-click="close()" type="button" class="btn btn-default">Close</button>
            </div>
        </div>

    </form>

</script>
    