@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="jumbotron">
    <h1>Single Page Application</h1>
</div>

<div>
    @Html.ActionLink("Go =>", "Index", "App", null, new { @Class = "btn btn-primary bt-lg"})&nbsp;
</div>

