
<div ng-controller="account/ForgetPasswordCtrl" layout="column" layout-padding ng-cloak
     class="col-xs-offset-2 col-xs-10 col-sm-offset-2 col-sm-10 col-md-offset-3 col-md-9 col-lg-offset-3 col-lg-9">

    <div ng-show="data.showConfirmationMsg" id="confirmation-msg">
        <p>
            We just mailed the password reset link to <strong>{{data.userData.email | uppercase}}</strong><br />
            Entered wrong email? Click <a href={{hereLink}}>here</a> to go back.
        </p>
    </div>

    <md-content class="autoScroll col-xs-9 col-sm-8 col-md-7 col-lg-6">
        <form ng-hide="data.hideForm" name="userDataForm" id="userData-form">
            @Html.AntiForgeryToken()
            <h2>Forgot Password?</h2>

            <div ng-show="data.showServerErrorMsg" id="serverError-msg">
                <h4>Oops! There were some errors!</h4>
                <ul>
                    <li data-ng-repeat="error in serverErrors">{{error}}</li>
                </ul>
            </div>
            <h5>Enter your email here to get a password reset link.</h5>

            <md-input-container class="md-icon-float md-block">
                <md-icon>email</md-icon>
                <input ng-model="data.userData.email" ng-model-options="{debounce : 750}"
                       required type="email" name="Email" placeholder="Email address" autocomplete="off" />
                <div ng-messages="userDataForm.Email.$error" multiple md-auto-hide="false">
                    <div ng-message="email" ng-show="userDataForm.Email.$dirty">Please enter a valid email address.</div>
                </div>
            </md-input-container>

            <md-input-container class="md-icon-float md-block">
                <div class="pull-left">
                    <md-button ng-click="postData()" ng-disabled=userDataForm.$invalid
                               class="md-raised md-primary" id="btn-userData">Continue</md-button>
                </div>
            </md-input-container>

        </form>
    </md-content>

</div>
@section scripts{
    <script type="text/javascript" src="~/App/controllers/account/ForgetPasswordCtrl.js"></script>
}


