
@{
    ViewBag.Title = "EmergencyContact";

}

@Html.AntiForgeryToken()

<div ng-controller="EmergencyContactCtrl" class="container body-content" style="background-color:white">
    <c-modal></c-modal>
    <h2 >EmergencyContact</h2>
    <br />
    <button type="button" class="btn btn-default btn-sm" ng-click="AddRow()">Add Contact</button>
    <br />
    <br />
    <table class="table">
        <tr>
            <th>Id</th>

            <th>First Name</th>

            <th>Middle Name</th>

            <th>Last Name</th>

            <th>Relationship</th>

            <th>Priority</th>

            <th>Reason</th>

            <th>Action</th>
        </tr>
      
        <tbody ng-repeat="x in emergencyContactList">
            <tr>
                <td>{{x.Id}}</td>

                <td>{{x.Firstname}}</td>

                <td>{{x.Middlename}}</td>

                <td>{{x.Lastname}}</td>

                <td>
                    <span ng-repeat="r in ecaList.Relationships | filter: {ID: x.RelationshipID}">
                        {{r.Relationship}}
                    </span>
                </td>

                <td>{{x.Priority}}</td>

                <td>{{x.Reason}}</td>

                <td>
                    <button type="button" style="width:60px" class="btn btn-default btn-sm" ng-click="EditRow($index)">Edit</button>
                    <button type="button" style="width:60px" class="btn btn-default btn-sm" ng-click="DelRow($index)">Delete</button>
                    <button type="button" style="width:80px" class="btn btn-default btn-sm" ng-click="PhoneList($index)" ng-disabled="form[$index].disablePhoneBtn">{{form[$index].phoneBtn}}</button>
                </td>
            </tr>

            <tr ng-show="form[$index].showList">
                <td></td>

                <td>
                    <button type="button" class="btn btn-default btn-sm" ng-click="AddPhoneRow($index)" ng-disabled="form[$index].disableAddBtn">Add Phone</button>
                </td>

                <td></td>

                <td></td>

                <td></td>

                <td></td>

                <td></td>

                <td></td>

            </tr>
                
            <tr ng-show="form[$index].showList">
                <th></th>

                <th>Id</th>

                <th>Number</th>

                <th>Phone Type</th>

                <th>IsMobile</th>

                <th>IsPrimary</th>

                <th>Country</th>

                <th>Action</th>
            </tr>

            <tr ng-repeat="y in x.PhoneList" ng-show="form[$parent.$index].showList">

                <td></td>

                <td>{{y.Id}}</td>

                <td>{{y.Number}}</td>

                <td>
                    <span ng-repeat="pt in ecaList.PhoneTypes | filter: {ID: y.PhoneTypeID}">
                        {{pt.PhoneType}}
                    </span>
                </td>

                <td>{{y.IsMobile}}</td>

                <td>{{y.IsPrimary}}</td>

                <td>
                    <span ng-repeat="pc in ecaList.PhoneCountries | filter: {ID: y.CountryID}">
                        {{pc.Name}} | {{pc.PhoneCode}}
                    </span>
                </td>

                <td>
                    <button type="button" class="btn btn-default btn-sm" style="width: 60px" ng-click="EditPhoneRow($parent.$index, $index)">Edit</button>
                    <button type="button" class="btn btn-default btn-sm" style="width: 60px" ng-click="DelRow($parent.$index, $index)">Delete</button>
                </td>
            </tr>

        </tbody>
    </table>

</div>

<script src="~/App/controllers/manage/EmergencyContactCtrl.js"></script>

