
@section scripts{
    @*<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQNYfr281euHPb2FHK6gB4hPCavqEHZCM&libraries=places"></script>*@
    <script src="~/App/controllers/manage/ProfileCtrl.js"></script>
    @*<script src="~/App/api/AutoCompleteAddress.js"></script>*@
}


<div class="main-content" ng-controller="manage/ProfileCtrl" ng-cloak>
    @Html.AntiForgeryToken()

    <div class="breadcrumbs">
        <ul>
            <li><a href="#/" title="">Home</a></li>
            <li><a href="#" title="">Profile Setting</a></li>
        </ul>
    </div>
    <div class="panel-content">
        <div class="row">
            <div class="col-md-12">
                <div class="billing-sec">

                    @*//*******IMAGE ON ******\\*@

                    <div class="row">
                        <div class="user-thumb">
                            <img src="~/Content/Images/thumbnail-placeholder.png" alt="">
                            <h3>Brian Kelly</h3>
                            <span><i class="fa fa-map-marker"></i> Auckland, NZ</span>
                        </div>
                    </div>

                    @*//****** USER DETAIL ON ****\\*@

                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4 field">
                                <label>Your Name <span>*</span> </label>
                                <input type="text" ng-model="data.ProfileModel.FirstName" />
                            </div>
                            <div class="col-md-4 field">
                                <label>Middle Name <span>*</span> </label>
                                <input type="text" ng-model="data.ProfileModel.MiddleName" />
                            </div>
                            <div class="col-md-4 field">
                                <label>Last Name <span>*</span> </label>
                                <input type="text" ng-model="data.ProfileModel.LastName" />
                            </div>
                            <div class="col-md-6 field">
                                <label>Gender <span></span> </label>
                                <input type="text" ng-model="data.PersonModel.Gender" />
                            </div>
                            <div class="col-md-6 field">
                                <label>DoB <span>*</span> </label>
                                <input type="text" popup-placement="bottom-right" class="form-control" uib-datepicker-popup="{{format}}" ng-model="data.PersonModel.DoB" is-open="popup1.opened" datepicker-options="dateOptions.maxDate" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />

                            </div>
                            <div class="col-md-12 field">
                                @*<button id="myBtn2" href="#addStudent" style="float:right" type="button" class="btns purple-skin sml-btn sml-radius" data-toggle="modal">Edit</button>*@

                                <a id="btnDetails" style="float:right" class="btns purple-skin sml-btn sml-radius" href="#editDetails">Edit</a>
                            </div>

                            @****** MODEL TEMPLATE editDetails ******@
                            <script type="text/ng-template" id="editDetailsTemplate">
                                <form name="userFormDetails">
                                    <div class="col-md-12">
                                        <div class="col-md-4 modalPadInput">
                                            <label>Your Name <span>*</span> </label>
                                            <input class="form-control" type="text" ng-model="data.ProfileModel.FirstName" />
                                        </div>
                                        <div class="col-md-4 modalPadInput">
                                            <label>Middle Name <span>*</span> </label>
                                            <input class="form-control" type="text" ng-model="data.ProfileModel.MiddleName" />
                                        </div>
                                        <div class="col-md-4 modalPadInput">
                                            <label>Last Name <span>*</span> </label>
                                            <input class="form-control" type="text" ng-model="data.ProfileModel.LastName" />
                                        </div>
                                        <div class="col-md-6 modalPadInput">
                                            <label>Gender <span></span> </label>
                                            <select class="form-control" ng-model="data.PersonModel.Gender">
                                                <option ng-repeat="gendertype in gendertypes" value="{{gendertype.abbrev}}">{{gendertype.abbrev}}</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6 modalPadInput">
                                            <label>DoB <span>*</span> </label>
                                            <p class="input-group">
                                                <input type="text" ng-model="data.PersonModel.DoB" popup-placement="bottom-right" class="form-control" uib-datepicker-popup="{{format}}" is-open="popup1.opened" datepicker-options="dateOptions.maxDate" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                                            </p>
                                        </div>
                                        <div style="text-align:right" class="modalPadInput">
                                            <button type="button" class="btn btn-default" ng-click="go_back()" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="postdata(); go_back()">Save changes</button>
                                        </div>
                                    </div>
                                </form>

                                @****** MODEL SIZE for all edit part******@
                                <style>
                                    #common-modal .modal-dialog {
                                        width: 80%;
                                    }
                                </style>

                            </script>




                            @*//****** ADDRESS ON *****\\*@

                            <div class="widget-title">
                                <h3>Address</h3>
                                <span>Your address detail below</span>
                            </div>

                            <div class="small-grid" data-ng-repeat="address in addresses">
                                <div class="col-md-1" style="color:forestgreen; font:icon">
                                    <span ng-show="address.IsPrimary">Primary</span>
                                </div>
                                <div class="col-md-1" style="color:mediumblue; font:icon">
                                    <span ng-repeat="addresstype in addresstypes">{{addresstype.Id === address.AddressTypeId ? addresstype.Name : null}}</span>
                                </div>
                                <div class="col-md-7">
                                    <span>{{address.StreetNumber}}   {{address.StreetName}}   {{address.Suburb}}   {{address.City}}  {{address.State}}  {{address.Country}}  {{address.ZipCode}}</span>
                                </div>
                                <div class="col-md-3">
                                    <div class="layout-align-end-center">
                                        <a ng-click="editAddress(address.Id, address.IsPrimary)" style="float:right" class="btns purple-skin sml-btn sml-radius" href="#editAddress">Edit</a>
                                        @*<button type="button" class="btns purple-skin sml-btn sml-radius" data-toggle="modal" data-target="#common-modal">Edit</button>*@
                                        <button type="button" class="btns red-skin sml-btn sml-radius">Remove</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <button type="button" class="btns red-skin mdm-btn mdm-radius" data-toggle="modal" data-target="#common-modal"><i></i>Add new address</button>
                            </div>
                        </div>



                        @****** MODEL TEMPLATE editAddress ******@
                        <script type="text/ng-template" @*id="editAddressTemplate"*@>
                            <div class="col-md-2 modalPadInput">
                                <label>Address Type <span>*</span> </label>
                                <input id="idAddressType" class="form-control" type="text" />
                            </div>
                        </script>
                        <script type="text/ng-template" id="editAddressTemplate">
                            <form name="userFormAddress">
                                <div class="col-md-12">
                                    <div style="align-content:center; padding-bottom:0px" class="col-md-1 modalPadInput">
                                        <label>Primary <span hidden><input id="idAddress" class="form-control" type="text" /></span> </label>
                                            <input id="idPrimaryAddress" style="width:20px; height:20px; margin-left:20px" type="checkbox" value="">
                                    </div>
                                    <div class="col-md-2 modalPadInput">
                                        <label>Address Type <span>*</span> </label>
                                        <input id="idAddressType" class="form-control" type="text" />
                                    </div>
                                    <div class="col-md-2 modalPadInput">
                                        <label>Strret No <span>*</span> </label>
                                        <input id="idStNumber" class="form-control" type="text" />
                                    </div>
                                    <div class="col-md-4 modalPadInput">
                                        <label>Street Name <span>*</span> </label>
                                        <input id="idStName" class="form-control" type="text" />
                                    </div>
                                    <div class="col-md-3 modalPadInput">
                                        <label>Suburb <span>*</span> </label>
                                        <input id="IdSuburb" class="form-control" type="text" />
                                    </div>
                                    <div class="col-md-3 modalPadInput">
                                        <label>City <span>*</span> </label>
                                        <input id="IdCity" class="form-control" type="text" />
                                    </div>
                                    <div class="col-md-3 modalPadInput">
                                        <label>State <span></span> </label>
                                        <input id="IdState" class="form-control" type="text" />
                                    </div>
                                    <div class="col-md-3 modalPadInput">
                                        <label>Country <span>*</span> </label>
                                        <input id="IdCountry" class="form-control" type="text" />
                                    </div>
                                    <div class="col-md-3 modalPadInput">
                                        <label>ZipCode <span>*</span> </label>
                                        <input id="IdZipcode" class="form-control" type="text" />
                                    </div>
                                    <div style="text-align:right" class="modalPadInput">
                                        <button type="button" class="btn btn-default" ng-click="go_back()" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="postdata(); go_back()">Save changes</button>
                                    </div>
                                </div>
                            </form>

                            @****** MODEL SIZE for all edit part******@
                            <style>
                                #common-modal .modal-dialog {
                                    width: 80%;
                                }
                            </style>

                        </script>

                        @*//******** PHONE ******\\*@

                        <div class="col-md-12">
                            <div class="widget-title">
                                <h3>Phone</h3>
                                <span>Your phone detail below</span>
                            </div>
                            <div class="small-grid" data-ng-repeat="phoneNumber in phoneNumbers">
                                <div class="col-md-1" style="color:forestgreen; font:icon">
                                    <span ng-show="phoneNumber.IsPrimary">Primary</span>
                                </div>
                                <div class="col-md-1" style="text-align:center">
                                    <span ng-show="phoneNumber.IsMobile"><i class="glyphicon glyphicon-phone"></i></span>
                                </div>
                                <div id="phoneTypeName" class="col-md-1" style="padding:0px; color:blue">
                                    <span ng-repeat="phonetype in phonetypes">{{phoneNumber.PhoneTypeId === phonetype.Id ? phonetype.Name : null}}</span>
                                </div>
                                <div id="phoneCountryCode" class="col-md-1" style="padding:0px">
                                    <span ng-repeat="countrytype in countrytypes">{{phoneNumber.CountryId === countrytype.Id ? countrytype.CountryCode : null}}</span>
                                </div>
                                <div class="col-md-5" style="padding:0px">
                                    <span>{{phoneNumber.Number}}</span>
                                </div>

                                <div class="col-md-3">
                                    <div class="layout-align-end-center">
                                        <button type="button" class="btns purple-skin sml-btn sml-radius" data-toggle="modal" data-target="#common-modal">Edit</button>
                                        <button type="button" class="btns red-skin sml-btn sml-radius">Remove</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <button type="button" class="btns red-skin mdm-btn mdm-radius" data-toggle="modal" data-target="#common-modal"><i></i>Add new phone</button>
                            </div>
                        </div>

                        @*//******EMAIL*****\\*@

                        <div class="col-md-12">
                            <div class="widget-title">
                                <h3>Email address</h3>
                                <span>Your email detail below</span>
                            </div>
                            <div class="small-grid" data-ng-repeat="email in emails">
                                <div class="col-md-1" style="color:forestgreen; font:icon">
                                    <span ng-show="email.IsPrimary">Primary</span>
                                </div>
                                <div id="emailTypeName" class="col-md-1" style="color:blue">
                                    <span ng-repeat="emailtype in emailtypes">{{email.EmailTypeId === emailtype.Id ? emailtype.Name : null}}</span>
                                </div>
                                <div class="col-md-7" style="padding:0px">
                                    <span>{{email.Email}}</span>
                                </div>
                                <div class="col-md-3">
                                    <div class="layout-align-end-center">
                                        <button type="button" class="btns purple-skin sml-btn sml-radius" data-toggle="modal" data-target="#common-modal">Edit</button>
                                        <button type="button" class="btns red-skin sml-btn sml-radius">Remove</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <button type="button" class="btns red-skin mdm-btn mdm-radius" data-toggle="modal" data-target="#common-modal"><i></i>Add new email</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 field">
                                <label>Address Type</label>
                                <select required name="addressType" ng-model="address.AddressTypeId" style="width:150px">
                                    <option ng-repeat="addresstype in addresstypes" value="{{addresstype.Id}}">
                                        {{addresstype.Name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 field">
                                <label>Street number<span>*</span> </label>
                                <input type="text" value="34" />
                            </div>
                            <div class="col-md-6 field">
                                <label>Street name<span>*</span> </label>
                                <input type="text" value="Shaddock St" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 field">
                                <label>Suburb<span>*</span> </label>
                                <input type="text" value="Eden Terrace" />
                            </div>
                            <div class="col-md-6 field">
                                <label>City<span>*</span> </label>
                                <input type="text" value="Auckland" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 field">
                                <label>Postcode</label>
                                <input type="text" value="0612" />
                            </div>
                            <div class="col-md-6 field">
                                <label>Country<span>*</span> </label>
                                <select class="form-control">
                                    <option>New Zealand</option>
                                    <option>United State of America</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12 field">
                            <div class="widget-title">
                                <h3>Enable or Disable My Location</h3>
                                <span>Toggle button to change location setting</span>
                                <div class="show-elements">
                                    <div class="toggleWrapper">
                                        <input type="checkbox" id="dndo" class="dn" />
                                        <label for="dndo" class="toggle"><span class="toggle__handler"></span></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="confirm-button">Save Settings Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- Panel Content -->
</div>