
@{
    ViewBag.Title = "GetEmergencyContacts";
}


<style>
   .viewMode:disabled {
       color: red; 
   }
</style>
<h2>GetEmergencyContacts</h2>
<div ng-controller="ECCtrl">
    @*<form>
            <div layout="row">
                <md-input-container>
                    <label>First name</label>
                    <input type="text" ng-model="newFirstname">
                </md-input-container> 

                <md-input-container>
                    <label>Middle name </label>
                    <input type="text" ng-model="newMiddlename">
                </md-input-container>


                <md-input-container>
                    <label>Last name </label>
                    <input type="text" ng-model="newLastName">
                </md-input-container>

            </div>
            <div layout='column'>
                <md-input-container>
                    <label>Relationship</label>
                    <md-select ng-model="aRelationship">
                        <md-option ng-repeat="aRelationship in relationshipList" value="{{aRelationship}}"></md-option>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <label>Emergency Event(s)</label>
                    <md-select ng-model="selectedEmergencyEvent" multiple>
                        <md-optgroup label="Events">
                            <md-option ng-value="event" ng-repeat="event in emergencyEvents">
                                {{event}}
                            </md-option>
                        </md-optgroup>
                    </md-select>
                </md-input-container>
            </div>
            <div>
                <md-button ng-click="addEC($event)">+Add New </md-button>

            </div>

        </form>*@

    <div>
        <md-button ng-click="addEC($event)">+Add New </md-button>
        <md-switch ng-model="dragMode" aria-label="Switch 6" ng-change="toogleDragMode()">
            Prioritise contact: {{dragMode == true ? "On" : "Off"}}
        </md-switch>
    </div>
    <div layout="row">
        <div flex="20">
            @*<table is-disabled="dragDisabled" data-as-sortable="dragControlListeners" data-ng-model="ecContacts">
                <tr data-ng-repeat="contact in ecContacts" data-as-sortable-item>
                    <td data-as-sortable-item-handle class='ec-border item-content {{cursorClass}}'>
                        <ul>
                            <li>{{contact.Firstname}} {{contact.lastname}}</li>
                            <li>{{contact.Id}}</li>
                        </ul>
                    </td>
                    <td data-as-sortable-item-handle class='ec-border'>
                        <md-button ng-click="edit($event)">Edit</md-button>
                    </td>
                    <td data-as-sortable-item-handle class='ec-border'>
                        <md-button ng-click="delete($event, contact)">Delete</md-button>
                    </td>
                </tr>
            </table>*@
            <md-list>
                <md-list-item ng-repeat="contact in ecContacts" ng-click="viewContactDetails(contact)">
                    <div class="md-list-item-text">
                        <p>{{contact.Firstname}}</p>
                        <p>{{contact.Id}}</p>
                    </div>
                </md-list-item>
            </md-list>
        </div>
        <div flex="80">
            <form ng-if="isDetailsEnabled">
                @Html.AntiForgeryToken()
                <div layout="row">
                    <md-input-container>
                        <label>First name</label>
                        <input type="text" ng-model="contactDetail.Firstname" ng-disabled="isViewMode" class="viewMode">
                    </md-input-container>

                    <md-input-container>
                        <label>Middle name </label>
                        <input type="text" ng-model="contactDetail.Middlename">
                    </md-input-container>

                    <md-input-container>
                        <label>Last name </label>
                        <input type="text" ng-model="contactDetail.Lastname">
                    </md-input-container>
                </div>
                <div layout='column'>
                    <md-input-container>
                        <label>Relationship</label>
                        <md-select ng-model="contactDetail.RelationshipID">
                            <md-option ng-repeat="aRelationship in relationships"
                                       ng-value="aRelationship.ID">{{aRelationship.Relationship}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div id="phone-section" layout="column" ng-repeat="phone in contactDetail.PhoneList">
                    <div layout="row">
                        <md-checkbox ng-checked="phone.IsPrimary" ng-click="tooglePrimaryPhone(phone)" aria-label="Primary">
                            Primary
                        </md-checkbox>
                        <md-checkbox ng-model="phone.IsMobile" aria-label="Mobile">
                            Mobile
                        </md-checkbox>                    </div>
                    <div layout="row">
                        <!--phone container-->
                        <md-input-container>
                            <label>Phone</label>
                            <input type="text" ng-model="phone.Number">
                        </md-input-container>

                        <md-input-container>
                            <label>Type</label>
                            <md-select ng-model="phone.PhoneTypeID">
                                <md-option ng-repeat="phoneOption in phoneTypeOptions" ng-value="phoneOption.ID">
                                    {{phoneOption.PhoneType}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container>
                            <label>Country</label>
                            <md-select ng-model="phone.CountryID">
                                <md-option ng-repeat="country in phoneCountryOptions" ng-value="country.ID">
                                    {{country.Name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </div>

                <div>
                    <md-button ng-click="addPhone()">Add phone</md-button>
                </div>

                <div layout="row">
                    <md-button ng-click="edit()">Save Changes</md-button>
                    <md-button>Cancel</md-button>
                </div>
            </form>
        </div>
    </div>

</div>

@section Styles {
    @*<link rel="stylesheet" type="text/css" href="~/Content/ng-sortable.min.css" />
        <link rel="stylesheet" type="text/css" href="~/Content/ng-sortable.style.min.css" />*@
    <link rel="stylesheet" type="text/css" href="~/App/css/EmergencyContact.css" />
}

@section scripts {
    @*<script src="~/Scripts/ng-sortable.min.js"></script>*@
    <script src="~/App/controllers/EmergencyContact/EmergencyContactCtrl.js"></script>
}

