@model Mvc1.Models.Logon

@{
    ViewBag.Title = "Logon";
}
@{
    Html.BeginForm("Status", "Logon");
    }
<h2>Logon</h2>
<br />
<p>@Html.EditorFor(y => Model.UserName)</p>
<br />
<p>@Html.EditorFor(x => x.Password)</p>
<br />
<input type="submit" value="Logon" />
