body {
    padding-bottom: 20px;
      /*background: url(/Content/Images/blue-background.png) no-repeat center center fixed;*/ 
     background-size: cover;
     min-height: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

md-input-container.md-input-invalid > md-icon {
	color: red;
}

md-input-container:not(.md-input-invalid) > md-icon {
	color: green;
}

md-input-container {
	margin-top: 30px;
}

#serverError-msg {
	border: solid;
	border-color: coral;
}

#confirmation-msg {
	font-size: 150%;
	margin: 20px;
}

.time-date[theme=material] > .control > .slider > .date-control .day-cell, .time-date:not([theme]) > .control > .slider > .date-control .day-cell {
    border-radius: 0 !important;
}

    .layout-sec .navigation-top-bar {
        background: #fff none repeat scroll 0 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.03);
        float: left;
        width: 100%;
    }

    .layout-sec footer p {
        float: left;
        width: 100%;
    }

    .layout-sec footer {
        float: left;
        margin-top: 50px;
        padding-left: 45px;
        text-align: center;
        width: 100%;
    }

.billing-sec .confirm-button {
    background: #333333 none repeat scroll 0 0;
    border: medium none;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    border-radius: 40px;
    color: #ffffff;
    float: left;
    font-family: Montserrat;
    font-size: 13px;
    letter-spacing: 0.25px;
    margin-top: 40px;
    padding: 14px 40px;
    text-decoration: none;
}

.small-grid {
    -ms-border-radius: 5px;
    border-radius: 50px;
    display: table;
    -moz-min-width: 800px;
    -ms-min-width: 800px;
    -o-min-width: 800px;
    -webkit-min-width: 800px;
    min-width: 800px;
    padding: 22px 0 20px 0 !important;
    vertical-align: middle;
    margin: 15px 0;
    background-color: #fff;
}

    .small-grid .layout-align-end-center {
        float: right;
    }

    .billing-sec .row {
    margin-bottom: 20px;
    }

input:focus {
  outline: none;
}

button[disabled], html input[disabled] {
    cursor: default;
    opacity: 0.75;
}

.creat-an-account {
    padding-bottom: 30px;
}

.social-account {
    margin: 20px 0;
    text-align: center;
}

    .social-account div {
        width: 100%;
        text-align: center;
    }

    .social-account > a > i {
        border-radius: 5px;
        color: #ffffff;
        float: left;
        font-size: 14px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        width: 40px;
    }



.creat-an-account ul {
    float: left;
    list-style: outside none none;
    margin: 15px 0 0;
    padding: 0;
    width: 100%;
}

    .creat-an-account ul li {
        float: left;
        margin-right: 4px;
    }

        .creat-an-account ul li button {
            float: left;
            margin-right: 4px;
            color: #fff;
        }

            .creat-an-account ul li button.facebook {
                background: #4e8deb;
            }

            .creat-an-account ul li button.googleplus {
                background: #eb4e4e;
            }

            .creat-an-account ul li button.twitter {
                background: #4ec4eb;
            }

.validation-summary-errors li {
    color: #b94a48;
}

.body-sec .radius-button{
    background: #ff5f5f none repeat scroll 0 0;
    border: medium none;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    border-radius: 40px;
    color: #ffffff;
    float: left;
    font-family: Montserrat;
    font-size: 13px;
    margin-top: 19px;
    padding: 14px 30px;
}

/*Modal*/
.editable-wrap {
    white-space:normal;
    margin: auto 20px;
}
