@model IEnumerable<AucklandHighSchool.Models.ViewModel.TestViewModel> 
@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>

<table>
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Number)
        </td>
    </tr>
}
</table>

