@{
    ViewBag.Title = "Home";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="title-top">Welcome To </h1>
        </div>
        <div class="col-md-12">
            <h1 class="title-main">Alex Swift Emergency Contact</h1>

           
        </div>
    </div>
</div>


@section styles {
    <style>
        .title-top {
            color: #ffffff;
            font-family: 'Pacifico', cursive;
        }

        .title-main {
            color: #ffffff;
            text-transform: uppercase;
            padding-left: 300px;
            font-size: 60px;
            font-family: 'Baloo Paaji', cursive;
        }
    </style>
}