@model MvcApplication2.Models.Product

@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>
<div>
    @Html.DisplayFor(model => model.Id)
    @Html.DisplayFor(model => model.Name)
    @Html.DisplayFor(model => model.Category)
</div>
