@model MvcApplication2.Models.Product

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
@using (Html.BeginForm())
{
    <div>
        @Html.EditorFor(model => model.Id)
    </div>
    <br />
    <div>
        @Html.EditorFor(model => model.Name)
    </div>
    <br />
    <div>
        @Html.EditorFor(model => model.Category)
    </div>
    <br />
    <input type="submit" value="Save" />
}
