<div ng-controller="CreateOrganisationCtrl" layout="row" layout-align="center center" layout-padding ng-cloak>
    <div flex-gt-sm="50" flex="100">
        <md-card class="md-whiteframe-2dp" style="height: 50vh;">
            <md-toolbar>
                <div class="md-toolbar-tools" layout-align="center center">
                    <h2>Add Organisation</h2>
                </div>
            </md-toolbar>
            @Html.AntiForgeryToken()
            <form autocomplete="off" name="createOrganisationForm" class="md-padding" id="createOrganisation-form" layout="column">
                <div flex>
                    <md-input-container class="md-block">
                        <label>Organisation Name</label>
                        <input ng-model="data.orgData.orgName" required md-no-asterisk name="OrgName" />
                        <div ng-messages="createOrganisationForm.OrgName.$error" multiple md-auto-hide="false">
                            <div ng-message="required" ng-show="createOrganisationForm.OrgName.$dirty">Organisation name is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Website URL</label>
                        <input ng-model="data.orgData.websiteUrl" name="WebsiteUrl" />
                    </md-input-container>
                </div>
                <div flex>
                    <md-input-container class="md-icon-float md-block">
                        <div layout="column">
                            <md-button ng-click="createOrganisation()" ng-disabled=createOrganisationForm.$invalid
                                       class="md-raised md-primary" id="btn-userData">Continue</md-button>
                        </div>
                    </md-input-container>
                </div>
            </form>
        </md-card>
    </div>
</div>


@section scripts{
    <script src="~/App/controllers/admin/CreateOrganisationCtrl.js"></script>
}