
@{
    ViewBag.Title = "OrganisationAdministration";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/App/controllers/admin/OrganisationAdministrationCtrl.js"></script>
<div ng-controller="OrganisationAdministrationCtrl">
    @Html.AntiForgeryToken()
    
    

    

    <style>
        .edittable {
            float:left;
            width: 10%;
             padding-top: 2px;
        }
        .edittable-width{
            float:left;
            width: 25%;
            padding-left: 10px;
           
        }
        .edittable-width-text {
            float:left;
            width: 20%;
            text-align:left;                    
        }
        .edittable-verywidth {
            float:left;
            width: 30%;    
            text-align:left;        
        }
        .edittable-inputverywidth {
            float: left;
            width: 95%;          
        }
        .edittable-button {
            float: left;
            width: 5%;
        }
        .stripwhite {
            background-color: white;
            vertical-align: middle;
            
        }
        .stripstandard {
            vertical-align: middle;
        }
        .colheader {
            text-align: left;
            font-weight: bold
                
        }

    </style>

    <div >
        <table width="100%">
            <tr>
                <td>
                    <div>
                        
                            <center><h4>Organisation Administration</h4></center>
                            
                        
                    </div>
                </td>
                <td>
                    <button ng-click="CreateOrganisation()" class="btn btn-primary" ng-disabled="editing != false">Create Organisation</button>
                </td>
            </tr>
        </table>
        
        
    </div>

    <center>
        <div id="bob" hidden>

            <div class="edittable-width colheader">
                <span>Organisation</span>
            </div>
            <div class="edittable-verywidth colheader">
                <span>Website Url</span>
            </div>
            <div class="edittable-width colheader">
                <span>Last Update</span>
            </div>
            <div class="edittable colheader">
                <span>Is Active</span>
            </div>
            <div class="edittable colheader">
                <span>&nbsp</span>
            </div>
            
            <br />
            <div ng-repeat="org in data">
                <div ng-class-even="'stripwhite'" ng-class-odd="'stripstandard'" style="height: 40px;">
                    <form novalidate angular-validator angular-validator-submit='EditOkButton()' name="editForm" >

                        <div class="edittable-width">
                            <label ng-show="org.showTextOnly" class="edittable-verywidth">{{org.OrgName}}</label>
                            <input type="text" class="edittable-inputverywidth" name="OrgName-{{org.Id}}" ng-show="org.showEditBox" ng-model="org.OrgName"
                                   required>
                        </div>

                        <div class="edittable-verywidth">
                            <label class="edittable-verywidth" ng-show="org.showTextOnly">{{org.WebsiteUrl}}</label>
                            <input type="text" class="edittable-inputverywidth" name="WebsiteUrl-{{org.Id}}" ng-show="org.showEditBox" ng-model="org.WebsiteUrl"
                                   ng-pattern="/http/" invalid-message="'Url Must contain http:// or https://'" required-message="'Url Must http:// or https://'" required>
                        </div>

                        <div class="edittable-width">
                            <label>{{org.lastUpdate}}</label>
                        </div>
                        <div class="edittable">
                            <input type="button" value="{{org.isActive == true ? 'Deactivate' : 'Activate'}}" class="btn btn-primary" ng-click="OrgActive($index)" />
                        </div>

                        <div class="edittable edittable-button">
                            <button type="button" name="editButton-{{org.Id}}" class="btn btn-danger" ng-click="EditOrg($index)" ng-show="org.showEditButton">Edit</button>
                            <button type="submit" name="saveButton-{{org.Id}}" class="btn btn-danger" ng-show="org.showSaveButton">Save</button>
                            
                        </div>

                        <div class="edittable edittable-button">
                            
                            <button type="button" name="closeButton-{{org.Id}}" class="btn btn-danger" ng-click="CloseEdit()" ng-show="org.closeEditButton">Close</button>
                            <button type="button" name="cancelButton-{{org.Id}}" class="btn btn-danger" ng-click="CancelEdit()" ng-show="org.showCancelButton">Cancel</button>
                        </div>
                        <br />
                        <br />
                        <br />
                    </form>

                </div>
            </div>

        </div>
    </center>
     

                                   
</div>


<script>
    $("#bob").ready(function () {

        $("#bob").show();
    })
    
</script>





