@model int

@switch (Model)
{
    case 1:
    <div class="modal-body">
        <form name="editForm" action="/Order/Edit" method="post">
            <div class="form-horizontal">
                <input ng-model="OrderId" hidden />

                <div class="form-group">
                    <label class="control-label col-md-3" for="OrderDate">Order Date</label>
                    <div class="col-md-9">
                        <input name="orderDate" type="date" class="form-control" ng-model="InputOrderDate" required />
                        <span ng-show="editForm.orderDate.$touched && editForm.orderDate.$invalid" style="color:red; font-style:oblique">The date is required.</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3" for="PersonId">Person Name</label>
                    <div class="col-md-9">
                        <select name="personId" ng-model="SeletedPersonId" class="form-control" required>
                            <option ng-repeat="p in People" value="{{p.Id}}" ng-selected="p.Id == SeletedPersonId">{{p.Name}}</option>
                        </select>
                        <span ng-show="editForm.personId.$touched && editForm.personId.$invalid" style="color:red; font-style:oblique">The name is required.</span>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="col-md-offset-2 col-md-10">
                        <button ng-click="editPost()" type="button" class="btn btn-default">Edit</button>
                        <button ng-click="close()" type="button" class="btn btn-default">Close</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    break;

    case 2:
        <div class="modal-body">
            <form name="editForm" action="/Order/Edit" method="post">
                <div class="form-horizontal">
                    <input ng-model="OrderId" hidden />

                    <div class="form-group">
                        <label class="control-label col-md-3" for="OrderDate">Order Date</label>
                        <div class="col-md-9">
                            <input name="orderDate" type="date" class="form-control" ng-model="InputOrderDate" required />
                            <span ng-show="editForm.orderDate.$touched && editForm.orderDate.$invalid" style="color:red; font-style:oblique">The date is required.</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3" for="OrderDate">Order Date</label>
                        <div class="col-md-9">
                            <input name="orderDate" type="date" class="form-control" ng-model="InputOrderDate" required />
                            <span ng-show="editForm.orderDate.$touched && editForm.orderDate.$invalid" style="color:red; font-style:oblique">The date is required.</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3" for="PersonId">Person Name</label>
                        <div class="col-md-9">
                            <select name="personId" ng-model="SeletedPersonId" class="form-control" required>
                                <option ng-repeat="p in People" value="{{p.Id}}" ng-selected="p.Id == SeletedPersonId">{{p.Name}}</option>
                            </select>
                            <span ng-show="editForm.personId.$touched && editForm.personId.$invalid" style="color:red; font-style:oblique">The name is required.</span>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="col-md-offset-2 col-md-10">
                            <button ng-click="editPost()" type="button" class="btn btn-default">Edit</button>
                            <button ng-click="close()" type="button" class="btn btn-default">Close</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        break;
}

