<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Contact List App</title>
    <link href="lib/bootstrap.css" rel="stylesheet" />
    <link href="css/app.css" rel="stylesheet" />
    <script src="lib/jquery-1.10.2.js"></script>
    <script src="lib/bootstrap.js"></script>
    <script src="lib/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/contactListCtrl.js"></script>
    <script src="js/directives/msgbox.js"></script>
    
</head>
<body ng-app="contactListApp" style="width: 100%; height: 100%;">
    
    <div ng-controller="contactListCtrl" class="container body-content">

        <h1>Contact List App</h1>

        <div>
            <button class="btn btn-primary top-bar top-button" ng-click="toggle()">
                {{btnText}}
            </button>
            <div class="search-bar top-bar" ng-show="showTable">
                <input type="text" ng-model="searchStr" class="form-control" placeholder="Search..." />
            </div>
        </div>  

        <img src="img/loading.gif" class="loading" ng-show="showLoading"/>

        <table class="table table-hover table-striped table-responsive" ng-show="showTable">
            <tr style="cursor:pointer">
                <th ng-click="sortBy('id')" style="min-width:50px">
                    ID
                    <span class="sort-arrow" ng-show="propertyName === 'id'">{{arrow}}</span>
                </th>
                <th ng-click="sortBy('name')">
                    Name
                    <span class="sort-arrow" ng-show="propertyName === 'name'">{{arrow}}</span>
                </th>
                <th ng-click="sortBy('username')">
                    User Name
                    <span class="sort-arrow" ng-show="propertyName === 'username'">{{arrow}}</span>
                </th>
                <th ng-click="sortBy('email')">
                    Email
                    <span class="sort-arrow" ng-show="propertyName === 'email'">{{arrow}}</span>
                </th>
                <th ng-click="sortBy('phone')">
                    Phone
                    <span class="sort-arrow" ng-show="propertyName === 'phone'">{{arrow}}</span>
                </th>
                <th ng-click="sortBy('company.name')">
                    Company
                    <span class="sort-arrow" ng-show="propertyName === 'company.name'">{{arrow}}</span>
                </th>
            </tr>

            <tr ng-repeat="x in contactList | filter: searchStr | orderBy: propertyName:reverse" ng-click="showDetails(x)" style="cursor:pointer">
                <td>
                    {{x.id}}
                </td>
                <td>
                    {{x.name}}
                </td>
                <td>
                    {{x.username}}
                </td>
                <td>
                    {{x.email}}
                </td>
                <td>
                    {{x.phone}}
                </td>
                <td>
                    {{x.company.name}}
                </td>
            </tr>

        </table>

        <div ng-show="showList" style="clear:left; width:250px">
            <ul class="list-group">
                <li class="list-group-item active">Number of contacts that start with:</li>
                <li class="list-group-item" ng-repeat="x in charGen()" ng-show="(num = (contactList | filter: {name: x}: startsWith).length) > 0">{{x}}: {{num}} </li>
                <li class="list-group-item">Total Number: {{contactList.length}} </li>
            </ul>
        </div>

        <c-msgbox></c-msgbox>
    </div>
    
</body>
</html>
